<html>
<head>
    <!-- Bootstrap Select -->
    <link href="vendor/bootstrap-select/css/bootstrap-select.css" rel="stylesheet">
    <!-- Bootstrap Checkbox -->
    <link href="vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
</head>

<body>

<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <ol class="breadcrumb">
                    <li><a href="">Domov</a></li>
                    <li class="active">Blagajna</li>
                </ol>
            </div>
            <div class="col-sm-3 category__backlink">
                        <span>
                            <a href="javascript:history.go(-1)">Nazaj</a>
                        </span>
            </div>
        </div>
    </div>
</section>

<div class="main cartpage">
    <div class="container" id="normal">
        ###CONTENT###
    </div>
</div>

</body>
</html>


