<html>

<body>

<section class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-sm-9" id="pathTrack">
                <ol class="breadcrumb" >
                    ###BREADNAVI###
                </ol>
            </div>
            <div class="col-sm-3 category__backlink">
                <span>
                    <a href="javascript:history.go(-1)">Nazaj</a>
                </span>
            </div>
        </div>
    </div>
</section>


<div class="container" id="normal">
    ###PRODUCT_LISTINGS###
</div>

</body>
</html>

<div class="subPageTitle">
    <div class="titleBorder"><div id="normalBorder">####CAT_TITLE###</div></div>
</div>


<div class="subLeft">
    <div id="normalLeft">###CONTENT_LEFT###</div>
</div>



