<html>
<head>
<link href="../css/featured.css" rel="stylesheet" type="text/css">
<link href="../css/master.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="breadCrumps">
	<div class="breadCrumpsNavi">
        <p><a href="" title="Domov">Domov</a></p>
        <div id="pathTrack">###BREADNAVI###</div>
    </div>
</div>	

<div class="subLeft">
    <div id="normalLeft">###CONTENT_LEFT###</div>
</div>

<div class="subNormal">
	
	<div id="normal" class="subContent productList">###CONTENT###</div>
</div>



</body>
</html>

<div class="subPageTitle">
    <div class="titleBorder"><div id="normalBorder">####CAT_TITLE###</div></div>
</div>