<html>
<head>
</head>

<body>


<div class="main articleslist subpage">

    <div class="container">

        <div class="row">
            <!-- Start Main Content -->
            <div class="main-content col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3" id="normal">

                ###CONTENT###

            </div>
            <!-- //End Main Content -->

            <!-- Start Sidbar -->
            <div class="sidebar-left col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">

                <div class="sidebar__module mod-articles" id="normalLeft">
                    ###SIDEBAR###
                </div>

            </div>
            <!-- //End Sidebar -->
        </div>

        <div class="row row-separator"></div>

    </div>

</div>


</body>
</html>
