/* Open Sans Light */
@font-face {
	font-family:'OpenSans-Light';
	src: url('light/OpenSans-Light_gdi.eot');
	src: url('light/OpenSans-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('light/OpenSans-Light_gdi.woff') format('woff'),
		url('light/OpenSans-Light_gdi.ttf') format('truetype'),
		url('light/OpenSans-Light_gdi.svg#OpenSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

/* Open Sans Regular */
@font-face {
	font-family:'OpenSans-Regular';
	src: url('regular/OpenSans_gdi.eot');
	src: url('regular/OpenSans_gdi.eot?#iefix') format('embedded-opentype'),
		url('regular/OpenSans_gdi.woff') format('woff'),
		url('regular/OpenSans_gdi.ttf') format('truetype'),
		url('regular/OpenSans_gdi.svg#OpenSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

/* Open Sans SemiBold */
@font-face {
	font-family:'OpenSans-Semibold';
	src: url('semibold/OpenSans-Semibold_gdi.eot');
	src: url('semibold/OpenSans-Semibold_gdi.eot?#iefix') format('embedded-opentype'),
		url('semibold/OpenSans-Semibold_gdi.woff') format('woff'),
		url('semibold/OpenSans-Semibold_gdi.ttf') format('truetype'),
		url('semibold/OpenSans-Semibold_gdi.svg#OpenSans-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

/* Open Sans Bold */
@font-face {
	font-family:'OpenSans-Bold';
	src: url('bold/OpenSans-Bold_gdi.eot');
	src: url('bold/OpenSans-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('bold/OpenSans-Bold_gdi.woff') format('woff'),
		url('bold/OpenSans-Bold_gdi.ttf') format('truetype'),
		url('bold/OpenSans-Bold_gdi.svg#OpenSans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

/* Open Sans ExtraBold */
@font-face {
	font-family:'OpenSans-bold/';
	src: url('extrabold/OpenSans-Extrabold_gdi.eot');
	src: url('extrabold/OpenSans-Extrabold_gdi.eot?#iefix') format('embedded-opentype'),
		url('extrabold/OpenSans-Extrabold_gdi.woff') format('woff'),
		url('extrabold/OpenSans-Extrabold_gdi.ttf') format('truetype'),
		url('extrabold/OpenSans-Extrabold_gdi.svg#OpenSans-Extrabold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}