html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;}
html{
	margin:0px;
	padding:0px;
	height: 100%;
	}
	
body{
	margin:0px;
	padding:0px;
	height: 100%;
	font-family:'PT Sans Narrow', sans-serif;
	background-image:url(../images/bgMain.gif);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#fff;
	}
	
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
	
.mid {
	width:100%;
	float:left;	
	}
	
.midSub {
	width:100%;
	float:left;
	background-image:url(../images/bgMainSubpage.gif);
	background-repeat:repeat-x;
	background-position:top;
	padding-bottom:100px;
	}
	
.midNews {
	background-color:#f8f8f8 !important;
	}
	
.midZelen {
	background-color:#85c531 !important;
	padding:20px 0px;
	}
	
.midGrey{
	background-color:#4f4f4f !important;
	padding:20px 0px;
	}


.zgoraj {
	width:100%;
	float:left;
	background-image:url(../images/bgMain.gif);
	background-repeat:repeat-x;
	background-position:top;
	padding-bottom:100px;
	}
	
.zgorajSub {
	width:100%;
	float:left;
	background-image:url(../images/bgMainSubpage.gif);
	background-repeat:repeat-x;
	background-position:top;
	padding-bottom:100px;
	}
			
.midBgList .autoMargin{
	}
	
.autoMargin {
	width:960px;
	margin: 0 auto;
	height:100%;
	}
	
.indexList {
	float:left;
	padding:90px 0px 0px 0px;
	}


.infoPushi {
	float:right;
	width:312px;
	padding:5px 0px 0px 0px;
	}

.infoPushi a, .infoPush {
	width:312px;
	height:88px;
	text-decoration:none;
	background-color:#FFF;
	border:1px solid #e4e4e4;
	background-repeat:no-repeat;
	float:left;
	display:block;
	margin-bottom:5px;
	}

.infoPushi a:hover {
	}

.infoPushi a h2, .infoPush h2 {
	font-family:Dosis;
	font-weight:bold;
	font-size:17px;
	color:#85C531;
	padding-bottom:2px;
	}
	
.infoPushi a p, .infoPush p {
	font-weight:normal;
	font-size:15px;
	color:#8c8686;
	font-family:'PT Sans Narrow', sans-serif;
	}
	
.infoPushi a span, .infoPush span {
	width:312px;
	height:88px;
	float:left;
	padding:12px 20px 0px 100px;
	background-repeat:no-repeat;
	}

.infoPB2b span {
	background-image:url(../images/b2bIcon.png);
	}
	
.infoPDostava span {
	background-image:url(../images/freeDostavaIcon.png);
	background-position:22px 25px;
	}
	
.infoPVaren span {
	background-image:url(../images/safeIcon.png);
	background-position:25px 10px;
	}


.subPageTitle {
	width:100%;
	float:left;
	}

.subPageTitle h1 {
	margin:0px;
	font-family:Dosis;
	padding:10px 0px 10px 0px;
	color:#339414;
	font-weight:bold;
	font-size:30px;
	}

.subPageTitle p{
	font-size:16px;
	}

.subLeft {
	float:left;
	width:240px;
	}
	
.subLeftNovice {
	float:left;
	width:190px;
	padding:20px 0px 0px 30px;
	}

.subNormal {
	float:left;
	width:720px;
	padding:0px 0px 40px 0px;
	}
	
.subContent {
	float:left;
	}
	
.infoPushiIndex {
	float:left;
	width:960px;
	padding:20px 0px;
	}

.infoPushiIndex .csc-default {
	float:left;
	width:308px;
	padding:0px 6px;
	}

.infoPushiIndex .csc-textpic-image{
	border:none !important;
	background-image:url(../images/infoPushImgBg.png);
	background-repeat:no-repeat;
	background-position:top left;
	width:304px;
	height:150px;
	padding:8px 0px 0px 4px !important;
	}

.infoPushiIndex h3, .infoPushiIndex h3 a {
	color:#329511;
	font-size:17px;
	font-weight:bold;
	font-family:'Dosis', sans-serif;
	}

.infoPushiIndex .csc-textpic-text {
	padding:0px 10px;
	}
	
.infoPushiIndex p{
	font-family:'PT Sans Narrow', sans-serif;
	color:#494949;
	font-size:15px;
	}

.fastLinks{
	width:1020px;
	position:relative;
	}

.fastLinks a{
	width:220px;
	height:244px;
	float:left;
	border:1px solid #ededed;
	position:relative;
	margin:30px 27px 30px 0px;
	
	}
	
.fastLinks a img {
	position:absolute;
	bottom:0px;
	z-index:1;
	}
	
.fastLinks a h4 {
	width:46px;
	height:30px;
	background-image:url(../images/iconInfoPushLink.png);
	background-repeat:no-repeat;
	background-position:bottom right;
	z-index:2;
	position:absolute;
	bottom:0px;
	right:0px;
	}

.fastLinks a p{
	color:#7c7c7c;
	font-size:15px;
	font-family:'PT Sans Narrow', sans-serif;
	padding:0px 15px;
	}
	
.fastLinks a h3{
	font-family: 'Life Savers', cursive;
	color:#000;
	font-size:18px;
	font-weight:bold;
	padding:15px 15px 5px 15px;
	}


.ccc-intro {
	color:#000;
	}

#colorbox, #cboxOverlay, #cboxWrapper {
	overflow:visible !important;
	}


.fastLinks2 {
	width:1020px;
	float:left;
	padding:0px;
	position:relative;
	}


.fastLinks2 a{
	float:left;
	width:280px;
	text-decoration:none;
	background-image:url(../images/iconListLink.png);
	background-repeat:no-repeat;
	background-position:bottom right;
	padding:0px 0px 35px 0px;
	margin:0px 60px 15px 0px;
	}
	
.fastLinks2 a:hover {
	background-image:url(../images/iconListLinkHover.png);
	}


.fastLinks2 a p{
	color:#5f5959;
	font-size:16px;
	font-family:'PT Sans', sans-serif;
	padding:10px 10px 10px 0px;
	border-bottom:1px dotted #d9d9d9;
	}


.linkToKontaktni {
	float:left;
	}
	
.linkToKontaktni h2{
	float:left;
	width:100%;
	padding-top:10px;
	}
	
.spodaj .linkToKontaktni h2 a {
	padding:0px;
	}

.linkToKontaktni p{
	float:left;
	width:100%;
	}

.linkToKontaktni p a{
	text-decoration:underline;
	}




.infoPushNovice{
	width:219px;
	height:244px;
	float:left;
	border:1px solid #ededed;
	position:relative;
	margin:30px 0px 30px 0px;
	
	}
	
.infoPushNovice img {
	position:absolute;
	bottom:0px;
	z-index:1;
	}
.infoPushNovice p{
	color:#7c7c7c;
	font-size:15px;
	font-family:'PT Sans Narrow', sans-serif;
	padding:0px 15px;
	}
.infoPushNovice h3{
	font-family: 'Life Savers', cursive;
	color:#000;
	font-size:18px;
	font-weight:bold;
	padding:15px 15px 5px 15px;
	}
.infoPushNovice input {
	position:absolute;
	z-index:2;
	bottom:10px;
	left:10px;
	width: 130px;
	height: 36px;
	margin: 0px;
	border: 1px solid #e2e2e2;
	background-color: #EFEFEF;
	outline: none;
	float: left;
	padding: 5px 5px 5px 5px;
	color: #000;
	font-size: 13px;
	font-weight:normal;
	font-family:'PT Sans', sans-serif;
	}

.infoPushNoviceSubmit {
	background-color:#85c531;
	padding: 6px 10px 6px 10px;
	margin:0px;
	outline:none;
	border:none;
	color:#fff;
	height: 36px;
	font-size: 14px;
	font-family: Dosis;
	position:absolute;
	font-weight: bold;
	z-index:2;
	bottom:10px;
	left:142px;
	cursor:pointer;
	}























	



