/* MAIN NAVIGACIJA !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
#mainNavi {
	display:none;
	}
.navi {
	display:block;
	width:960px;
	height:50px;
	float:left;
	position:relative;
	background-color:#85c531;
	}
	
#dropDownMenu{
	float:left;
	}
	
.navi ul {
    margin:0px;
	padding:0px;
	list-style:none;
}
.navi ul li {
    display: block;
    float: left;
	padding:0px 0px 0px 0px;	
}
/*
.navi ul .home {
	float:left;
	margin:0px;
	}
	
.navi ul .home a {
	float:left;
	background-repeat:no-repeat;
	background-image:url(../images/iconHomeBlue.png);
	background-position:center center;
	height:50px;
	width:70px;
	}
.navi ul .home a:hover {
	background-color:#0062ae;
	background-image:url(../images/iconHome.png);	
	}
*/
.navi ul li .link1 {
    font-size:18px;
	font-weight:600;
	color:#fff;
	text-decoration:none;
	text-align:center;
	float:left;
	font-family:Dosis;
	padding:12px 20px 0px 20px;
	display:block;
	height:50px;
	margin:0px 1px;
}
.navi ul li .link1:hover, .navi li:hover .link1 {
	background-color:#fff;
	color:#85c531;
	}
	
.navi ul li .link1.active {
	background-image:url(../images/arrowWhiteUp.png);
	background-position:bottom center;
	background-repeat:no-repeat;
	}
	

.navi li .show{	
	display:none;/*TUKAJ*/
	position:absolute;
	top:50px;
	left:0px;
	width:960px;
	min-height:230px;
	z-index:2;
	float:left;
	border-left:1px solid #e9eff4;
	border-right:1px solid #e9eff4;
	border-bottom:1px solid #e9eff4;
	background-color:#fff;
}
.navi li:hover .show{
	display:block;
	z-index:20;
	}
	
.showStuff {
	position:relative;
	width:958px;
	min-height:180px;
	float:left;
	}
		
.showStuff .infoPDropdown {
	width:312px;
	height:88px;
	position:absolute;
	text-decoration:none;
	border:0px solid #e4e4e4;
	float:left;
	display:block;
	margin-bottom:5px;
	}
	
.showStuff .infoPVaren {
	bottom:15px;
	right:15px;
	}
	
.showStuff .infoPDostava {
	bottom:115px;
	right:15px;
	}

.showStuff .infoPDropdown h2 {
	font-family:Dosis;
	font-weight:bold;
	font-size:17px;
	color:#000;
	padding-bottom:2px;
	}
	
.showStuff .infoPDropdown p {
	font-weight:normal;
	font-size:15px;
	color:#85c531;
	font-family:'PT Sans Narrow', sans-serif;
	}
	
.showStuff .infoPDropdown span {
	width:192px;
	height:77px;
	float:left;
	padding:12px 20px 0px 100px;
	background-repeat:no-repeat;
	background-position:20px 10px;
	}
	
.showStuff .infoPDostava span {
	background-position:20px 25px;
	}
	
.dropInfo {
	width:300px;
	height:89px;
	position:absolute;
	text-decoration:none;
	float:left;
	display:block;
	margin-bottom:5px;
	top:20px;
	right:20px;
	}
	
.dropInfo p, .dropInfo span, .dropInfo span a {
	color:#514b4b;
	font-size: 16px;
	text-decoration:none;
	}
	
.dropInfo p {
	float:left;
	width:200px;
	}
	
.dropInfo span {
	float:left;
	}
	
.dropItems {
	width:420px;
	float:left;
	padding:20px 0px;	
	min-height:180px;
	}
	
.dropNavi {
	float:left;
	}

.dropNavi {
	}
	
.dropNavi h2 a{
	font-family:Dosis;
	color:#85c531;
	font-size:16px;
	line-height:16px;
	font-weight:600;
	background-image:url(../images/arrowGreen.png);
	background-repeat:no-repeat;
	background-position:11px 12px;
	width:180px;
	float:left;
	padding:6px 22px;
	margin:2px 15px 0px 10px;
	}
	
.dropNavi h2 a:hover{
	background-color:#85c531;
	color:#fff;
	background-image:url(../images/arrowWhite.png);
	}
	
.dropNavi ul{
	display:none;
	}
	
.dropNavi ul li {
	float:none;
	clear:both;
	margin:0px;
	padding-bottom:2px;
	}
	
.dropNavi ul li a {
	font-family:Dosis;
	margin:0px;
	color:#575151;
	font-size:15px;
	text-decoration:none;
	background-image:url(../images/arrowList.png);
	background-repeat:no-repeat;
	background-position:0px 7px;
	padding:0px 0px 0px 10px;
	}
	
.dropNavi ul li a:hover{
	text-decoration:underline;
	}
	
.dropNavi ul li .more {
	color:#003471;
	}
	
.catNaviDescription {
	width:240px;
	min-height:170px;
	float:left;
	background-image:url(../images/dropDownShadow.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding:0px 10px 0px 30px;
	margin:20px 0px;
	}
	
.catNaviDescription h2 {
	font-size:16px;
	line-height:18px;
	padding-bottom:5px;
	}
	
.catNaviImage {
	float:left;
	padding:20px 0px;
	}
	
	
/********************************MAIN TYPO3 NAVI*****************************************/

.navi #mainNavi ul li a {
    font-size:18px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	float:left;
	height:38px;
	font-family:Dosis;
	padding:13px 20px 0px 20px;
	margin-top:5px;
    white-space: nowrap;
}
	
.navi #mainNavi ul li a:hover {
	background-color:#FFF;
	color:#514b4b;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	behavior: url(border-radius.htc);
	height:38px;
	}
	
.navi #mainNavi ul li .active {
	background-color:#FFF;
	color:#514b4b;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	behavior: url(border-radius.htc);
	height:38px;
	}

/********************************BREAD NAVI******************************************/
.breadCrumps {
	width:100%;
	float:right;
	border-bottom:1px solid #dfdfdf;
	margin-bottom:20px;
	}
	
.breadCrumpsNavi{
	float:right;
	background-image:url(../images/arrowRight.png);
	background-repeat:no-repeat;
	background-position:left center;
	padding:5px 10px 10px 15px;
	}
	
#pathTrack {
	float:right;
	}

.breadCrumps p{
	float:left;
	font-size:14px;
	color:#79b00e;
	font-family:'PT Sans Narrow', sans-serif;
	}

.breadCrumps a{
	text-decoration:none;
	color:#79b00e;
	font-size:14px;
	}
	
.breadCrumps a:hover {
	text-decoration:underline;
	}

.breadCrumps .back {
	float:right;
	}

.breadCrumps .tx-easyshop-pi1 p:last-child a {
	color:#79b00e;
	}

/*******************SUBNAVI_1****************************/

.subNavi {
	float:left;
	width:220px;
	background-color:#ebf5e9;
	border:1px solid #ececec;
	padding:10px 0px;
	}

.subNavi ul {
	float:left;
	width:220px;
	}
	
.subNavi ul li{
	display:block;
	margin:0px;
	padding:1px 5px;
	float:left;
	}
		
.subNavi ul li a{
	font-family:Dosis;
	color:#282828;
	font-size:16px;
	font-weight:normal;
	width:210px;
	float:left;
	padding:1px 10px 2px 15px;
	}
	
.subNavi ul li a:hover, .subNavi ul li .active {
	text-decoration:underline;
	}
	
.subNavi .subNaviSub {
	width:220px;
	padding:5px 0px 5px 5px;
	float:left;
	}
	
.subNavi .subNaviSub li{
	display:block;
	margin:0px;
	padding:1px 5px 1px 20px;
	float:left;
	}
		
.subNavi .subNaviSub li a{
	font-family:Dosis;
	display:block;
	float:left;
	text-decoration:none;
	font-size:15px;
	color:#575757;	
	width:200px;	
	background-image:url(../images/arrowList.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	padding:2px 5px 2px 20px;
	font-weight:normal;
	}
	
.subNavi .subNaviSub li a:hover, .subNavi .subNaviSub li .active {
	color:#fff;
	background-color:#b9b9b9;
	background-image:url(../images/arrowWhite.png);
	-webkit-transition: all .08s ease-in;
	-moz-transition: all .08s ease-in;
	-ms-transition: all .08s ease-in;
	-o-transition: all .08s ease-in;
	transition: all .08s ease-in;
	}
	

/***************************LIST NAVI*************************************************/

.listNavi {
	float:left;
	width:220px;
	background-color:#ebf5e9;
	border:1px solid #ececec;
	margin-bottom:20px;
	}
	
.catMenuNaslov {
	border-bottom:1px dotted #bfdfb8;
	color:#59ac46;
	font-family: 'Life Savers', cursive;
	font-weight:bold;
	font-size:18px;
	padding:10px 10px;
	margin:0px 5px 10px 5px;
	float:left;
	width:210px;
	}
	
.listNavi h2 a{
	font-family:Dosis;
	color:#282828;
	font-size:16px;
	font-weight:normal;
	width:210px;
	float:left;
	padding:1px 10px 2px 15px;
	margin:2px 0px;
	}
	
.listNavi h2:last-child a{
	padding-bottom:10px;
	}
	
.listNavi h2 a:hover, .listNavi h2 a.active {
	color:#000;
	text-decoration:underline;	
	}


.listNavi ul {
	width:220px;
	padding:10px 0px;
	float:left;
	}
	
.listNavi .noChild ul{
	background-image:none;
	display:none;
	}
	
.listNavi h2.noChild a {
	margin:2px 0px;
	}
.listNavi h2.noChild a:hover, .listNavi h2.noChild .active, .listNavi h2 a:hover, .listNavi h2 .active {
	}
	
.listNavi ul li{
	display:block;
	margin:0px;
	padding:1px 5px 1px 20px;
	float:left;
	}
		
.listNavi ul li a{
	font-family:Dosis;
	display:block;
	float:left;
	text-decoration:none;
	font-size:15px;
	color:#575757;	
	width:200px;	
	background-image:url(../images/arrowList.png);
	background-repeat:no-repeat;
	background-position:10px 10px;
	padding:2px 5px 2px 20px;
	}
	
.listNavi ul li a:hover, .listNavi ul li .active {
	color:#fff;
	background-color:#b9b9b9;
	background-image:url(../images/arrowWhite.png);
	-webkit-transition: all .08s ease-in;
	-moz-transition: all .08s ease-in;
	-ms-transition: all .08s ease-in;
	-o-transition: all .08s ease-in;
	transition: all .08s ease-in;
	}


/************************NAVI2******************/

.navi2 {
	float:left;
	width:960px;
	padding:1px 0px 0px 0px;
	}

.navi2 a {
	font-family: 'Life Savers', cursive;
	font-size:16px;
	font-weight:bold;
	color:#515151;
	width:120px;
	height:60px;
	float:left;
	text-align:center;
	border-bottom:5px solid #85c531;
	padding:20px 0px 15px 0px;
	background-image:url(../images/navi2Crtica.png);
	background-repeat:no-repeat;
	background-position:bottom right;
	}

.navi2 a:hover {
	background-color:#85c531;
	color:#fff;
	}
	
.navi2 a.active {
	color:#fff;
	}

.navi2 a:last-child {
	background-image:none;
	}


/************************ZISHAMETER******************/

#zishaMeter {
	width:960px;
	height:96px;
	float:left;
	margin-top: 20px;
	}

.zishaMeterNaslov {
	position: relative;
	z-index: 2;
	width:252px;
	height:96px;
	float:left;
	background-image:url(../images/zisha-meter-naslov.png);
	background-repeat:no-repeat;
	background-position:left;
	margin-right: 6px;
	}

.zishaMeter1 {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/vesel.png);
	background-repeat:no-repeat;
	margin-right: 5px;
	}

.zishaMeter1 a {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/vesel.png);
	background-repeat:no-repeat;
	}
	
.zishaMeter1 a:hover {
	width:96px;
	height:96px;
	background-image:url(../images/vesel-over.png);
	background-repeat:no-repeat;
	}

.zishaMeter2 {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/zalosten.png);
	background-repeat:no-repeat;
	margin-right: 5px;
	}

.zishaMeter2 a {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/zalosten.png);
	background-repeat:no-repeat;
	}
	
.zishaMeter2 a:hover {
	width:96px;
	height:96px;
	background-image:url(../images/zalosten-over.png);
	background-repeat:no-repeat;
	}

.zishaMeter3 {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/sproscen.png);
	background-repeat:no-repeat;
	margin-right: 5px;
	}

.zishaMeter3 a {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/sproscen.png);
	background-repeat:no-repeat;
	}
	
.zishaMeter3 a:hover {
	width:96px;
	height:96px;
	background-image:url(../images/sproscen-over.png);
	background-repeat:no-repeat;
	}
.zishaMeter4 {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/utrujen.png);
	background-repeat:no-repeat;
	margin-right: 5px;
	}

.zishaMeter4 a {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/utrujen.png);
	background-repeat:no-repeat;
	}
	
.zishaMeter4 a:hover {
	width:96px;
	height:96px;
	background-image:url(../images/utrujen-over.png);
	background-repeat:no-repeat;
	}
.zishaMeter5 {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/napet.png);
	background-repeat:no-repeat;
	margin-right: 5px;
	}

.zishaMeter5 a {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/napet.png);
	background-repeat:no-repeat;
	}
	
.zishaMeter5 a:hover {
	width:96px;
	height:96px;
	background-image:url(../images/napet-over.png);
	background-repeat:no-repeat;
	}

.zishaMeter6 {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/pod-stresom.png);
	background-repeat:no-repeat;
	margin-right: 5px;
	}

.zishaMeter6 a {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/pod-stresom.png);
	background-repeat:no-repeat;
	}
	
.zishaMeter6 a:hover {
	width:96px;
	height:96px;
	background-image:url(../images/pod-stresom-over.png);
	background-repeat:no-repeat;
	}

.zishaMeter7 {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/ne-morem-spati.png);
	background-repeat:no-repeat;
	}

.zishaMeter7 a {
	width:96px;
	height:96px;
	float:left;
	background-image:url(../images/ne-morem-spati.png);
	background-repeat:no-repeat;
	}
	
.zishaMeter7 a:hover {
	width:96px;
	height:96px;
	background-image:url(../images/ne-morem-spati-over.png);
	background-repeat:no-repeat;
	}

.zishaMeterWrapper {
	width:960px;
	height:96px;
	float:left;
	margin-top: 20px;
	overflow: hidden;
}

.zishaMeter {
	float: none;
	margin: 0 !important;
	overflow: hidden;
	animation-name: slideDown;
	animation-duration: 5s;

	-webkit-animation-name: slideDown;
	-webkit-animation-duration: 5s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;	
}

.zishaMeterAnim {
	z-index: 1;
	animation-name: slideRight;
	animation-duration: 15s;

	-webkit-animation-name: slideRight;
	-webkit-animation-duration: 15s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	90%{
		transform: translateY(6%);
	}
	95%{
		transform: translateY(-3%);
	}		
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	90%{
		transform: translateY(6%);
	}
	95%{
		transform: translateY(-3%);
	}		
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-500%);
	}
	98%{
		-webkit-transform: translateX(6%);
	}
	99%{
		-webkit-transform: translateX(-3%);
	}		
	100% {
		-webkit-transform: translateX(0%);
	}	
}





















