<html>
<head>
<link rel="icon" type="image/png" href="favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Life+Savers:400,700|Dosis:200,400,500,600,700|PT+Sans:400,700|PT+Sans+Narrow:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!--<script src="../../min/?g=js"></script>-->
<script src="../../min/?g=js"></script>
<!--<link rel="stylesheet" type="text/css" media="screen" href="../../min/?g=css"></link>-->
<link rel="stylesheet" type="text/css" media="screen" href="../../min/?g=css"></link>
<script type="text/javascript"> 
var $buoop = {vs:{i:8,f:3.6,o:10.6,s:4,n:9}} 
$buoop.ol = window.onload; 
window.onload=function(){ 
 try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
 var e = document.createElement("script"); 
 e.setAttribute("type", "text/javascript"); 
 e.setAttribute("src", "http://browser-update.org/update.js"); 
 document.body.appendChild(e); 
} 
</script> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43452093-1', 'zisha.si');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="cookieControl">###COOKIE_CONTROL###</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/sl_SI/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="mid">
	<div class="autoMargin"> 
    	<div class="header">
        	<div class="topLinks">
            	<div id="topNavi" class="tabsTopNavi">###TOPNAVI###</div>
            	<div id="topLogin" class="topLogin">###TOPLOGIN###</div>    
            </div>  
            <div itemscope itemtype="http://schema.org/Organization">
            	<a href="" title="Domov" class="logo" itemprop="url" href="http://www.zisha.si/"><img itemprop="logo" src="images/logo.png" alt="Zisha.si"></a>
            </div>
            
            <div class="headerInfo">
            	<p class="first">Z nakupom nad <strong>20 €</strong><br><span>BREZPLAČNA DOSTAVA</span></p>
				<p class="second">Pomoč <br><span>01 251 17 00</span></p>
					
			</div>        
            <div id="topBasket" class="topBasket">###TOPBASKET###</div>  	
        </div>
    	<div class="navi">
        	<div id="dropDownMenu">###DROPDOWNMENU###</div>
            <div id="mainNavi">###MAINNAVI###</div>
        </div>
        <div class="navi2">
        	<a href="../../izdelki_crni_caji/" class="color_122">Črni čaji</a>
            <a href="../../izdelki_zeleni_caji/" class="color_123">Zeleni čaji</a>
            <a href="../../izdelki_beli_caji/" class="color_162">Beli čaji</a>
            <a href="../../izdelki_oolong_caji/" class="color_127">Oolong čaji</a>
            <a href="../../izdelki_rooibos_caji/" class="color_128">Rooibos čaji</a>
            <a href="../../izdelki_zeliscni_caji/" class="color_126">Zeliščni čaji</a>
            <a href="../../izdelki_sadni_caji/" class="color_129">Sadni čaji</a>
            <a href="../../izdelki_pu_erh_caji/" class="color_130">Pu-erh čaji</a>
        </div>
        <div id="modernTab">###SLIJDER###</div>
        <div id="zishaMeter">
        	<div class="zishaMeterNaslov"></div>
        	<div class="zishaMeter1"><a href="http://www.zisha.si/izdelki_zisha_meter_vesel/"></a></div>
        	<div class="zishaMeter2"><a href="http://www.zisha.si/izdelki_zisha_meter_zalosten/"></a></div>
            <div class="zishaMeter3"><a href="http://www.zisha.si/izdelki_zisha_meter_sproscen/"></a></div>
            <div class="zishaMeter4"><a href="http://www.zisha.si/izdelki_zisha_meter_utrujen/"></a></div>
            <div class="zishaMeter5"><a href="http://www.zisha.si/izdelki_zisha_meter_napet/"></a></div>
            <div class="zishaMeter6"><a href="http://www.zisha.si/izdelki_zisha_meter_pod_stresom/"></a></div>
            <div class="zishaMeter7"><a href="http://www.zisha.si/izdelki_zisha_meter_nespecnost/"></a></div>
        </div>
        <div id="infoPushi" class="">###INFOPUSHSPODAJ###</div>
        <div class="infoPushNovice">
            <div><span><img src="images/prijavaNovice.png"></span></div>
            <h3>Zishina ponudba</h3>
            <p>Vsak mesec pripravljamo akcije in promocije. Prijavi se na e-novice in pridobi <strong>10% popusta</strong> ob prvem nakupu.</p>
            <form action="http://www.nottyfly.com/sendy/subscribe" method="post">
			<input id="email" name="email" type="email" placeholder="Vpiši e-pošto" required />
			<input type="hidden" name="list" value="uBw6905N0VM763aaHgLtTeQg"/>
			<button type="submit" class="infoPushNoviceSubmit">POTRDI</button>
            </form>
        </div>
    </div>
</div>


<div class="mid midBgList">
	<div class="autoMargin">      
        <div class="indexList">
        	<script type="text/javascript">
                $(document).ready(function(){
                $("#featured2").tabs();
                });
                </script>
        	<div id="featured2" class="feauteredProductList">
                <ul class="ui-tabs-nav">
                    <li class="ui-tabs-nav-item" id="nav-fragment-1"><a href="#fragment2-1" class="">Novi čaji</a></li>
                    <li class="ui-tabs-nav-item" id="nav-fragment-2"><a href="#fragment2-2" class="">Akcija čajev</a></li>
                    <li class="ui-tabs-nav-item" id="nav-fragment-3"><a href="#fragment2-3" class="">Najbolj prodajani</a></li>
                </ul>
                <div id="fragment2-1" class="ui-tabs-panel ui-tabs-hide">####NAJBOLJPRODAJANI###</div>
                <div id="fragment2-2" class="ui-tabs-panel ui-tabs-hide">####AKCIJSKIIZDELKI###</div>
                <div id="fragment2-3" class="ui-tabs-panel ui-tabs-hide">####IZBRANIIZDELKI###</div>
            </div>
            <div id="infoSpodaj" class="">###INFOPUSHSPODAJ###</div>
            <p class="lateNewsTitle">Vse o čaju in kulturi pitja čaja</p>
        </div>
        
    </div>
</div>

<div class="mid midNews">
	<div class="autoMargin"> 
    	<div id="latestNews" class="lateNews">###NOVIC###</div>
    </div>
</div>

<div class="mid">
    <div class="autoMargin"> 
        <div id="infoSpodaj2" class="">###INFOPUSHSPODAJ2###</div>
    </div>
</div>

<div class="novicaSpodaj"> 
		<div class="autoMargin">
    	<a href="http://www.zisha.si/brezplacen_vzorcek_caja/"><img src="http://zisha.si/fileadmin/user_upload/oglasi_spodaj/brezplacni-vzorcki.jpg"></a>
        </div>
</div>
 
<div class="mid midZelen">
	<div class="autoMargin"> 
    	<div class="kontaktInfo" itemscope itemtype="http://schema.org/Organization">
        	<p itemprop="telephone">01 251 17 00</p>
            <p itemprop="telephone">041 658 400</p>
            <p><a href="mailto:info@zisha.si" title="Vprašajte nas" class="mail" itemprop="email">info@zisha.si</a></p>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="kontaktAddress">
            	<p itemprop="name">ZISHA d.o.o.</p>
                <p itemprop="name">Zisha čajna hiša</p>
                <p itemprop="streetAddress">Glavarjeva ulica 12</p>
                <p><span itemprop="postalCode">1000 </span><span itemprop="addressLocality">Ljubljana</span></p>
            </div>            
        </div>
        <div id="footerMenu" class="footerMeni">###FOOTERMENU###</div>  
    </div>
</div>

<div class="mid midGrey">
	<div class="autoMargin"> 
    	<div class="newsletter">
        	<p>Najboljše novice in novosti o čajih</p>
            <form action="http://www.nottyfly.com/sendy/subscribe" method="post">
			<input id="email" name="email" type="email" placeholder="Vpiši e-pošto" required />
			<input type="hidden" name="list" value="uBw6905N0VM763aaHgLtTeQg"/>
			<button type="submit" class="newsletterSubmit">PRIJAVI SE</button>
            </form>
        </div>

        <div class="joinUs">
        	<p>Pridruži se nam v diskusijah o čajih</p>
            <a href="https://www.facebook.com/zishatea" target="_blank" title="Facebook"><img src="images/iconFacebook.png"></a>
            <a href="https://twitter.com/zisha" target="_blank" title="Twitter"><img src="images/iconTwiter.png"></a>
            <a href="https://plus.google.com/105953827742371268229" rel="publisher" target="_blank"><img src="images/iconGoogle.png"></a>
            <a href="http://www.flickr.com/photos/zishatea" target="_blank" title="Flickr"><img src="images/iconFlickr.png"></a>
        </div>
    	<div class="copyRight">          
                <p>© Copyright. Vse pravice pridržane. Zisha čajna hiša d.o.o. 2015 : Produkcija: <a href="http://naprej.net/" target="_blank" title="Učinkovite spletne rešitve - Naprej.net">
                Naprej.net d.o.o.</a></p>
            </div>

    </div>
</div>
</body>
</html>