<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-responsive.no-icons.min.css">
<script type="text/javascript">
var PAYMILL_PUBLIC_KEY = '###YOUR_PAYMILL_PUBLIC_KEY###';
</script>
</head>
<body>
<div class="container span8">
<!-- START: Payment form -->
<div class="controls">
<div class="span4">
<div class="payment-errors text-error"></div>
</div>
</div>
<div class="clearfix"></div>
<div class="well span5">
<div class="controls controls-row">
<div class="btn-group span4">
<button id="btn-paymenttype-cc" class="paymenttype btn btn-primary disabled" value="cc">###MESSAGE_CREDIT_CARD###</button>
<button id="btn-paymenttype-elv" class="paymenttype btn" value="elv">ELV</button>
</div><br /><br />
</div>

<form id="payment-form" action="###FORM_URL###" method="POST">
<div class="clearfix"></div>
<div id="payment-form-cc">
<input class="card-amount-int" type="hidden" value="###CARD_AMOUNT###"/>
<input class="card-currency" type="hidden" value="###CARD_CURRENCY###"/>
<div class="controls controls-row">
<div class="span3"><label>###MESSAGE_CARD_NUMBER###</label>
<input class="card-number span3" type="text" size="20" value="###CARD_NUMBER###"/>
</div>
<div class="span1"><label>CVC</label>
<input class="card-cvc span1" type="text" size="4" value="###CARD_CVC###"/>
</div>
</div>
<div class="controls">
<div class="span4">
<label>###MESSAGE_CARD_HOLDER###</label>
<input class="card-holdername span4" type="text" size="20" value="###CARD_HOLDERNAME###"/>
</div>
</div>
<div class="controls">
<div class="span3">
<label>###MESSAGE_VALID_UNTIL###</label>
<input class="card-expiry-month span1" type="text" size="2" value="###CARD_EXPIRY_MONTH###"/>
<span> / </span>
<input class="card-expiry-year span1" type="text" size="4" value="###CARD_EXPIRY_YEAR###"/>
</div>
</div>
</div>
<div id="payment-form-elv" style="display: none;">
<div class="controls">
<div class="span3">
<label>###MESSAGE_ACCOUNT_HOLDER###</label>
<input class="elv-holdername span3" type="text" size="20" value="###ELV_HOLDERNAME###"/>
</div>
</div>
<div class="controls controls-row">
<div class="span3"><label>###MESSAGE_ACCOUNT_NUMBER###</label>
<input class="elv-account span3" type="text" size="20" value="###ELV_ACCOUNT###"/>
</div>
</div>
<div class="controls">
<div class="span3">
<label>###MESSAGE_BANK_CODE###</label>
<input class="elv-bankcode span3" type="text" size="20" value="###ELV_BANKCODE###"/>
</div>
</div>
</div>
<div class="controls">
<div class="span3">
<button class="submit-button btn btn-primary" type="submit">###MESSAGE_PLACE_ORDER###</button>
</div>
</div>
###HIDDENFIELDS###
</form>
</div>
<!-- END: Payment form -->
</div>
<script src="###JQUERY_LIBRARY###"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
<script src="###PAYMILL_BRIDGE###"></script>
<script language="javascript" type="text/javascript">

var tdsInit = function(iframeUrl, cancelFn) {
  var body   = document.body || document.getElementsByTagName('body')[0];
  var iframe = document.createElement('iframe');

  iframe.id               = 'tdsIframe';
  iframe.src              = iframeUrl;
  iframe.width            = 600;
  iframe.height           = 500;
  iframe.style.zIndex     = 0xffffffff;
  iframe.style.background = '#fff';
  iframe.style.position   = 'absolute';

  body.insertBefore(iframe, body.firstChild);
};

var tdsCleanup = function() {
  var iframe = document.getElementById('tdsIframe');
  iframe.parentNode.removeChild(iframe);
};

$(document).ready(function () {
function PaymillResponseHandler(error, result) {
  if (error) {
    // Show the error message above the form
    $(".payment-errors").text(error.apierror);
  } else {
    $(".payment-errors").text("");
    var form = $("#payment-form");
    // Token
    var token = result.token;
    // Insert token into the payment form
    form.append("<input type='hidden' name='paymillToken' value='" + token + "'/>");
    form.get(0).submit();
  }
  $(".submit-button").removeAttr("disabled");
}


$("#payment-form").submit(function (event) {
  // Deactivate the submit button to avoid further clicks
  $('.submit-button').attr("disabled", "disabled");
  if (false == paymill.validateCardNumber($('.card-number').val())) {
  $(".payment-errors").text("Invalid card number");
  $(".submit-button").removeAttr("disabled");
  return false;
}

if (false == paymill.validateExpiry($('.card-expiry-month').val(), $('.card-expiry-year').val())) {
  $(".payment-errors").text("Invalid date of expiry");
  $(".submit-button").removeAttr("disabled");
  return false;
}

paymenttype = $('.paymenttype.disabled').length ? $('.paymenttype.disabled').val() : 'cc';
switch (paymenttype) {
case "cc":
var params = {
  amount_int: $('.card-amount-int').val(), // E.g. "15" for 0.15 Eur
  currency: $('.card-currency').val(), // ISO 4217 e.g. "EUR"
  number: $('.card-number').val(),
  exp_month: $('.card-expiry-month').val(),
  exp_year: $('.card-expiry-year').val(),
  cvc: $('.card-cvc').val(),
  cardholdername: $('.card-holdername').val()
};
break;

case "elv":
var params = {
  number: $('.elv-account').val(),
  bank: $('.elv-bankcode').val(),
  accountholder: $('.elv-holdername').val()
};
break;
}
paymill.createToken(params, PaymillResponseHandler, tdsInit, tdsCleanup);

return false;
});

// Toggle buttons and forms
$(".paymenttype").click(function (event) {
$(this).addClass('btn-primary disabled');
$('#payment-form-cc').toggle();
$('#payment-form-elv').toggle();
if($(this).val()=='cc') {
$('#btn-paymenttype-elv').removeClass('btn-primary disabled');
}
else {
$('#btn-paymenttype-cc').removeClass('btn-primary disabled');
}
});
});
</script>
</body>
</html>