
.header {
	float:left;
	width:960px;
	height:120px;
	position:relative;
	}
	
.logo {
	position:absolute;
	top:35px;
	left:0px;
	}
	
.logo img{
	}
	
.topLinks {
	position:absolute;
	top:0px;
	right:0px;
	}

.topLogin {
	float:left;
	}

.topLogin form {
	float:left;
	}

.topLogin .topLoginGumb, .topLogin .topRegisterGumb, .topLogin .topUserEdit, .topLogin .topLogout, .topUserTitle{	
	color:#3e3e3e;
	font-weight:normal;
	text-decoration:none;
	font-size:15px;
	font-family:Dosis;
	display:block;
	padding:10px 15px 5px 15px;
	}


.topLogin .topLoginGumb, .topLogin .topUserEdit, .topUserTitle{
	border-right:0px solid #e1e1e1;
	float:left;
	}
	
.topLogin .topLoginGumb:hover, .topLogin .topRegisterGumb:hover, .topLogin a:hover{ 
	background-image:url(../images/arrowDown.png);
	background-repeat:no-repeat;
	background-position:top center;
	color:#79b00e;
	}

.topBasketInfo {
	position:absolute;
	top:50px;
	right:0px;
	z-index:4;
	}
	
.topBasketInfo a{
	background-image:url(../images/iconBasketBlue.png);
	background-repeat:no-repeat;
	background-position:10px 7px;
	background-color:#fff;
	width:180px;
	height:45px;
	float:left;
	padding:7px 15px;
	border:1px solid #d7e7b8;
	}
	
.topBasketInfo:hover, .topBasket:hover .topBasketInfo{
	/*background-image:none;
	background-color:#ffffff;
	cursor:pointer;*/
	}
	
.topBasketInfo:hover a, .topBasket:hover .topBasketInfo a{
	/*background-image:url(../images/iconBasketPink.png);*/
	}
	
.topBasket .topBasketInfo h3{
	float:right;
	padding:3px 0px 3px 13px;
	color:#85c531;
	font-size:16px;
	font-family:Dosis;
	font-weight:normal;
	border-left:1px solid #edf2e4;
	}

.topBasket .topBasketInfo h3 span {
	font-weight:bold;
	}
	
.gotoBasket{
	padding:10px 10px 0px 10px !important;
	position:absolute;
	top:17px;
	right:10px;
	}
	
.topBasket:hover .basketDrop {
	display:block !important;
	}
	
.basketDrop {
	display:none;
	position:absolute;
	float:left;
	width:180px;
	border-top:none;
	float:left;
	padding:5px;
	z-index:11;
	right:0px;
	top:94px;
	background-color:#fff;
	border:1px solid #D7E7B8;
	}
	
.basketDrop .basketDropItem{
	float:left;
	width:170px;
	text-decoration:none;
	border-bottom:1px solid #D7E7B8;
	padding:5px;
	}
	
.centerImg {
	width:100px;
	text-align:center;
	float:left;
	/*border:2px solid #e9e1e1;*/
	}
	
.basketDrop img {
	height:60px;
	margin:0px 0px;
	}
	
.centerImg{
	width:90px;
	height:90px;
	display: table-cell;
    text-align: center;
	float:left;
	}
	
.centerImg span{
	width:90px;
	height:90px;
	display: table-cell;
    text-align: center;
    vertical-align: middle;
	}

.centerImg span img{
	max-width:89px !important;
	}
	
.basketDropPrice {
	float:left;
	}
	
.basketDropPrice .flehaPink {
	float:left;
	margin:0px 0px;
	width:170px;
	background-color:#85C531;
	color:#ffF;
	}
	
.basketDrop h2{
	color:#85C531;
	font-size:16px;
	font-family:'PT Sans Narrow', sans-serif;
	padding-bottom:3px;
	font-weight:bold;
	}
	
.basketDrop .basketDropPrice p {
	color:#85C531;
	font-size:16px;
	font-family:Dosis;
	font-weight:bold;
	padding:10px 5px;
	text-align:right;
	}
	
.basketDrop p {
	color:#7C7C7C;
	float:left;
	width:100%;
	font-family:'PT Sans Narrow', sans-serif;
	font-size:14px;
	}
	
.basketDrop span{
	color:#7C7C7C;
	float:left;
	font-weight:bold;
	font-size:16px;
	}
	
.basketDropItems {
	overflow-y:scroll;
	float:left;
	max-height:300px;
	}
	
.basketDrop .basketDropItems .basketDropItem {
	width:157px;
	}
	
	
.tabsTopNavi {
	float:left;
	}
	
.tabsTopNavi ul {
	margin:0px;
	padding:0px;
	list-style:none;
	}
	
.tabsTopNavi ul li{
	display:block;
	margin:0px 0px;
	float:left;
	}
	
.tabsTopNavi ul li a{
	color:#3e3e3e;
	font-weight:normal;
	text-decoration:none;
	font-size:15px;
	font-family:Dosis;
	display:block;
	padding:10px 15px 5px 15px;
	}
	
.tabsTopNavi ul li a:hover {
	background-image:url(../images/arrowDown.png);
	background-repeat:no-repeat;
	background-position:top center;
	color:#79b00e;
	}
	
.tabsTopNavi ul li .facebook{
	border-right:none;
	padding:12px 35px 8px 15px;
	background-image:url(../images/iconFB.png);
	background-repeat:no-repeat;
	background-position:right 9px;
	}
	
.tabsTopNavi ul li .facebook:hover {
	background-image:url(../images/iconFB.png);
	background-position:right 9px;
	}

.headerInfo {
	
	}
	
.headerInfo .first {
	background-image:url(../images/iconNoPostage.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	height:62px;
	padding:20px 0px 0px 60px;
	position:absolute;
	top:33px;
	right:360px;
	}
	
.headerInfo .second {
	background-image:url(../images/iconPhone.png);
	background-repeat:no-repeat;
	background-position:0px 5px;
	padding:0px 0px 0px 45px;
	position:absolute;
	top: 53px;
right: 210px;
	}


.headerInfo p {
	color:#5f5959;
	font-size:13px;
	font-weight:normal;
	}

.headerInfo p span {
	font-weight:bold;
	color:#85c531;
	font-size:16px;
	line-height:18px;
	}

.produkcija {
	float:left;
	width:100%;
	/*background-image:url(../images/payCards.png);
	background-repeat:no-repeat;
	background-position:center 30px;*/
	}
.produkcija p{
	text-align: center;
	}
	
.copyRight {
	text-align: center;
	float: left;
	margin:0px 0px 20px 0px;
	}

.copyRight p {
	color: #999;
	font-size:15px;
	font-family:'PT Sans Narrow', sans-serif;
	float:left;	
	padding:30px 0px 0px 0px;
	text-align:center;
	}


.copyRight p a{
	color:#999;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	}
	
.naprejnet a{
	padding:10px 0px 0px 10px;
	float:right;
	}
	
.naprejnet img {
	width:65px;
	}

.naprejnet {
	float:right;
	padding:30px 0px 0px 0px;
	}
	
.naprejnet p{
	padding:9px 0px 0px 0px;
	}
	
.spodaj h2 {
	font-family:Dosis;
	font-size:15px;
	text-transform:uppercase;
	padding-bottom:10px;
	}
	
.spodaj h2 a{
	font-family:Dosis;
	font-size:15px;
	text-transform:uppercase;
	padding:10px 0px;
	float:left;
	}
	
.spodaj h2 a:hover {
	text-decoration:underline;
	}
	
.spodaj h3{
	font-family:Dosis;
	font-size:17px;
	font-weight:600;
	padding-bottom:10px;
	}

.footerMeni {
	float:left;
	padding:0px 0px 10px 0px;
	width:760px;
	}
	
.footerMeni p, .footerMeni a{
	color:#000;
	font-family:'PT Sans Narrow', sans-serif;
	font-size:14px;
	}
	
.footerMeni a:hover {
	text-decoration:underline;
	}
	
.footerMeni h2, .footerMeni h1 {
	font-family: 'Life Savers', cursive;
	color:#000;
	font-size:18px;
	font-weight:bold;
	padding-bottom:5px;
	}

.footerMeni ul {
	padding:0px 0px 20px 0px;
	}
	
.footerMeni ul li{
	display:block;
	font-family:Dosis;
	font-size:15px;
	color:#fff;
	padding:1px 15px 1px 0px;
	}
		
.footerMeni ul li a{
	text-decoration:none;
	font-size:15px;	
	color:#fff;
	font-family:Dosis;
	}
	
.footerMeni ul li a:hover {
	text-decoration:underline;
	}
	
.footerUl{
	min-height:200px;
	border-left:1px dotted #6bad14;
	padding:0px 15px;
	float:left;
	}
	
.kontaktInfo {
	background-image:url(../images/kontaktIcons.png);
	background-repeat:no-repeat;
	background-position:top left;
	float:left;
	width:200px;
	margin:0px 0px 0px 0px;
	}

.kontaktInfo p{
	padding:10px 0px 10px 45px;
	color:#fff;
	}
	
.kontaktInfo p a{
	color:#fff;
	}
	
.kontaktAddress {
	padding:10px 0px;
	}
	
.kontaktInfo .kontaktAddress p{
	padding:0px;
	}

.newsletter {
	float:left;
	}

.newsletter p, .joinUs p {
	font-family: 'Life Savers', cursive;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	padding-bottom:5px;
	}
.newsletter input {
	z-index:2;
	bottom:10px;
	left:10px;
	width: 200px;
	height: 36px;
	margin: 0px;
	border: 1px solid #e2e2e2;
	background-color: #EFEFEF;
	outline: none;
	float: left;
	padding: 5px 5px 5px 5px;
	color: #000;
	font-size: 14px;
	font-weight:normal;
	font-family:'PT Sans', sans-serif;
	}

.newsletterSubmit {
	background-color:#85c531;
	padding: 6px 10px 6px 10px;
	margin:0px;
	outline:none;
	border:none;
	color:#fff;
	height: 36px;
	font-size: 14px;
	font-family: Dosis;
	font-weight: bold;
	z-index:2;
	bottom:10px;
	left:142px;
	cursor:pointer;
	}

	
.joinUs {
	padding:0px 100px;
	float:left;
	}
	
	
.fbBox {
	padding:10px 0px 10px 0px;
	}
	

.infoPBot{
	float:left;
	width:280px;
	padding:0px 0px 0px 0px;
	}
	
.infoPBot .csc-default {
	float:left;
	width:265px;
	border-top:1px dotted #cdcfcd;
	padding:20px 0px 20px 0px;
	height:70px;
	}
.infoPBot .csc-default:first-child{
	border:none;
	}
	

.infoPBot .csc-textpic-image{
	border:none !important;
	width:60px;
	}
	
.infoPBot .csc-textpic-image:hover{
	border:none !important;
	}

.infoPBot h2, .infoPBot h2 a {
	color:#000000;
	font-size:17px;
	font-weight:bold;

	}

.infoPBot p, .infoPBot p a{
	color:#8c8686;
	font-family:'PT Sans Narrow', sans-serif;
	}






	
	