
.loginBox {
	float:left;
	width:300px;
	}

.loginBox h3 {
	font-size:20px;
	color:#85C531;
	padding-bottom:20px;
	}
	
.loginBox form {
	float:left;
	padding-top:10px;
	}

.inputBox {
	float:left;
	padding:0px 0px 10px 0px;
	}

.inputBox label {
	float:left;
	text-align:right;
	width:80px;
	font-size:16px;
	padding:8px 10px 0px 0px;
	font-family:PT Sans;
	}

.inputBox input{
	width:180px;
	margin:0px;
	border:1px solid #d4d4d4;
	outline:none;
	float:left;
	padding:7px 5px 9px 10px;
	background-color:#fbfbfb;
	color:#514b4b;
	font-size:18px;
	font-weight:bold;
	font-family:Dosis;
	}

.inputBox input:focus{
	}	


.loginBox .inputSubmit {
	float:left;
	margin:0px 0px 0px 80px;
	}


.forgotPass {
	float:left;
	margin:10px 0px 0px 80px;
	color:#636363;
	font-size:13px;
	width:180px;
	}
	
.subLogin, .subRegister {
	float:left;
	width:960px;
	padding:0px 0px 20px 0px;
	margin:0px 0px 40px 0px;
	}
	
.subLogin #normal{
	float:left;
	padding:55px 0px 0px 40px;
	}
	
.subLogin #normalLeft p{
	float:left;
	width:400px;
	}
	
.subRegister #normal {
	float:left;
	padding:20px 0px 0px 40px;
	}
	
.subRegister .infoPushi{
	float:right;
	padding:30px 30px 0px 0px;
	}

.subLogin #normalLeft{
	background-color:#f3f4f4;
	float:right;
	width:440px;
	padding:20px 30px;
	margin:30px 0px;
	}

.subLogin #normalLeft h3 {
	font-size:20px;
	color:#85C531;
	padding-bottom:20px;
	}


.subLogin #normalLeft .flehaCrna{
	}

.registerBox{
	float:left;
	width:400px;
	padding:20px;
	}
	
.registerBox .inputBox label {
	width:140px;
	}
.registerBox .inputBox label span {
	color:#FC4941;
	}

.registerBox h3{
	width:100%;
	font-size:20px;
	color:#85C531;
	padding-bottom:20px;
	float:left;
	}


.registerBox .label_check {
	margin:5px 0px 5px 140px;
	}
	
.registerBox .label_check a {
	text-decoration:underline;
	}

.registerBox .label_check, .label_radio {
	background-position:0px 1px;
	background-color:#fff;
	}

.registerBox .flehaCrna {
	margin:5px 0px 10px 140px;
	}

































