
.radius {
	}
	
.flehaCrna, .newsListSingleMore a {
	float:left;
	font-size:18px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	padding:7px 20px 7px 20px;
	margin:0px 0px;
	background-color:#85c531;
	color:#fff !important;
	-webkit-transition: background-color .3s ease-in,color .3s ease-in;
	-moz-transition: background-color .3s ease-in,color .3s ease-in;
	-ms-transition: background-color .3s ease-in,color .3s ease-in;
	-o-transition: background-color .3s ease-in,color .3s ease-in;
	transition: background-color .3s ease-in,color .3s ease-in;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	text-decoration:none !important;
	}	
.flehaCrna:hover, .flehaCrna:focus, .newsListSingleMore a:hover {
	background-color: #514b4b;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all .08s ease-in;
	-moz-transition: all .08s ease-in;
	-ms-transition: all .08s ease-in;
	-o-transition: all .08s ease-in;
	transition: all .08s ease-in;
}
.flehaCrna:active {
	background-color: #514b4b;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all .08s ease-in;
	-moz-transition: all .08s ease-in;
	-ms-transition: all .08s ease-in;
	-o-transition: all .08s ease-in;
	transition: all .08s ease-in;
	}
	

.flehaPink {
	float:left;
	font-size:18px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	padding:9px 20px 9px 20px;
	margin:0px 0px;
	background-color:#fff;
	color:#85C531;
	text-transform:uppercase;
	-webkit-transition: background-color .3s ease-in,color .3s ease-in;
	-moz-transition: background-color .3s ease-in,color .3s ease-in;
	-ms-transition: background-color .3s ease-in,color .3s ease-in;
	-o-transition: background-color .3s ease-in,color .3s ease-in;
	transition: background-color .3s ease-in,color .3s ease-in;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	}	
	
.flehaPink:hover, .flehaPink:focus {
	background-color: #fff;
	color: #85C531;
	text-decoration: none;
	-webkit-transition: all .08s ease-in;
	-moz-transition: all .08s ease-in;
	-ms-transition: all .08s ease-in;
	-o-transition: all .08s ease-in;
	transition: all .08s ease-in;
}
.flehaPink:active {
	background-color: #fee41d;
	color: #0062ae;
	text-decoration: none;
	-webkit-transition: all .08s ease-in;
	-moz-transition: all .08s ease-in;
	-ms-transition: all .08s ease-in;
	-o-transition: all .08s ease-in;
	transition: all .08s ease-in;
	}


	
.flehaSiva {
	float:left;
	font-size:16px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	padding:10px 20px 0px 20px;
	margin:0px 0px;
	/*background-image:url(../images/flehaSiva.png);
	background-repeat:repeat-x;
	background-color:transparent;*/
	background-color:#272727;
	color:#44a722;
	text-transform:uppercase;
	height:30px;
	-moz-box-shadow:    inset 0 0 20px 6px #000;
    -webkit-box-shadow: inset 0 0 20px 6px #000;
    box-shadow:         inset 0 0 20px 6px #000;
   text-shadow:1px #000000;
	}
	
.flehaSiva:hover{/*
	background-color:#003471;
	color:#FFF !important;
	box-shadow:none;
	text-shadow: 1px 1px 0px #000000;*/
	-moz-box-shadow:    inset 0 0 20px 6px #272727;
    -webkit-box-shadow: inset 0 0 20px 6px #272727;
    box-shadow:         inset 0 0 20px 6px #272727;
	}
	
.singleCena .flehaSiva:hover {
	background-color:#fff;
	-moz-box-shadow:    inset 0 0 20px 6px #fff;
    -webkit-box-shadow: inset 0 0 20px 6px #fff;
    box-shadow:         inset 0 0 20px 6px #fff;
	color:#000;
	}

	
.flehaPink:hover, .flehaSiva:hover, .flehaCrna:hover {
	cursor:pointer;
	}


.opacity:hover {
-o-transition-duration:3s;
-o-transition-property: border, color, opacity, -moz-opacity;
-webkit-transition-duration:3s;
-webkit-transition-property: border, color, opacity, -moz-opacity;
filter:alpha(opacity=90);
-moz-opacity:0.9;
-khtml-opacity: 0.9;
opacity: 0.9;
}

.inputSubmit {
	border:none;
	outline:none;
	padding:12px 20px 10px 20px !important;
	}
	
.inputFlehaCrna{
	border:none;
	outline:none;
	padding:5px 20px 5px 20px !important;
	}




.gradientBlue {
	background-color:#002755;
	background-image: -ms-linear-gradient(top, #002e63 0%, #002755 100%);	
	background-image: -moz-linear-gradient(top, #002e63 0%, #002755 100%);	
	background-image: -o-linear-gradient(top, #002e63 0%, #002755 100%);	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #002e63), color-stop(1, #002755));	
	background-image: -webkit-linear-gradient(top, #002e63 0%, #002755 100%);	
	background-image: linear-gradient(to bottom, #002e63 0%, #002755 100%);
	}


.gradientGrey {
	background-color:#d7d7d7;
	background-image: -ms-linear-gradient(top, #ffffff 0%, #d7d7d7 100%);	
	background-image: -moz-linear-gradient(top, #ffffff 0%, #d7d7d7 100%);	
	background-image: -o-linear-gradient(top, #ffffff 0%, #d7d7d7 100%);	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #d7d7d7));	
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #d7d7d7 100%);	
	background-image: linear-gradient(to bottom, #ffffff 0%, #d7d7d7 100%);
	}
	
.gradientBlack {
	background-color:#343434;
	background-image: -ms-linear-gradient(top, #343434 0%, #000 100%);	
	background-image: -moz-linear-gradient(top, #343434 0%, #000 100%);	
	background-image: -o-linear-gradient(top, #343434 0%, #000 100%);	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #343434), color-stop(1, #000));	
	background-image: -webkit-linear-gradient(top, #343434 0%, #000 100%);	
	background-image: linear-gradient(to bottom, #343434 0%, #000 100%);
	}
	
.gradientBlueLight {
	background-color:#d7d7d7;
	background-image: -ms-linear-gradient(top, #0099d8 0%, #006e9a 100%);	
	background-image: -moz-linear-gradient(top, #0099d8 0%, #006e9a 100%);	
	background-image: -o-linear-gradient(top, #0099d8 0%, #006e9a 100%);	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0099d8), color-stop(1, #006e9a));	
	background-image: -webkit-linear-gradient(top, #0099d8 0%, #006e9a 100%);	
	background-image: linear-gradient(to bottom, #0099d8 0%, #006e9a 100%);
	}



.shadow {
   -moz-box-shadow:0 0 8px 4px #e4e4e4;
-webkit-box-shadow:0 0 8px 4px #e4e4e4;
box-shadow:0 0 8px 4px #e4e4e4;


}

.shadowH:hover{
	-moz-box-shadow:0 0 5px 1px #f5f5f5;
    -webkit-box-shadow:0 0 5px 1px #f5f5f5;
    box-shadow:0 0 5px 2px #f5f5f5;
	}
	/*
.shadowH:hover {
box-shadow:0 0 4px #666666;
-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Color='#666666', Direction=135)";
}*/

.shadowInset {
   -moz-box-shadow:    inset 0 0 20px 4px #e4e4e4;
   -webkit-box-shadow: inset 0 0 20px 4px #e4e4e4;
   box-shadow:         inset 0 0 20px 4px #e4e4e4;
}
	
.shadowInsetH:hover {
    -moz-box-shadow:    inset 0 0 20px 4px #e4e4e4;
   -webkit-box-shadow: inset 0 0 20px 4px #e4e4e4;
   box-shadow:         inset 0 0 20px 4px #e4e4e4;
}



.titleBorder {
	width:100%;
	height:60px;
	float:left;
	position:relative;
	background-image:url(../images/bgGrey.png);
	background-repeat:repeat-x;
	background-position:0px 39px;
	margin:20px 0 0 0;
	}
	
.titleBorder h2, .titleBorder h1{
	font-size:26px;
	font-family:Dosis;
	font-weight:500;
	color:#000;
	text-decoration:none;
	padding:0px 10px 35px 0px;
	margin:0px 0px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	background-image:url(../images/arrowDown.png);
	background-repeat:no-repeat;
	background-position:1px 40px;
	}
	
.titleBorder span {
	display:none;
	background-image:url(../images/dottedLine.png);
	background-repeat:repeat-x;
	height:2px;
	width:100%;
	position:absolute;
	top:15px;
	left:0px;
	}

.titleBorderList {
	width:100%;
	height:40px;
	margin-bottom:0px;
	}

.titleBorderSingle {
	width:620px;
	height:40px;
	margin-bottom:15px;
	}

.back{
	position:absolute;
	right:0px;
	top:20px;
	}
.back:hover {
	text-decoration:underline;
	}
	
.arrowTop {
	background-image:url(../images/arrowDownWhite.png);
	background-repeat:no-repeat;
	background-position:1px 0px;
	}

/************BARVE******************************/


.triangle.color_122{border-color: #383535 transparent transparent transparent !important;}
.mid h2.color_122{ color:#383535 !important; border-color:#383535 !important;}
.mid .navi2 .color_122{ border-color:#383535;}
.mid .navi2 .color_122:hover, .mid h4.color_122, .cajMesecaSingle.color_122, .mid .navi2 .color_122.active{ background-color:#383535 !important;}

.triangle.color_123{border-color: #499757 transparent transparent transparent !important;}
.mid h2.color_123{ color:#499757 !important; border-color:#499757 !important;}
.mid .navi2 .color_123{ border-color:#499757;}
.mid .navi2 .color_123:hover, .mid h4.color_123, .cajMesecaSingle.color_123, .mid .navi2 .color_123.active{ background-color:#499757 !important;}

.triangle.color_162{border-color: #dbddb4 transparent transparent transparent !important;}
.mid h2.color_162{ color:#dbddb4 !important; border-color:#dbddb4 !important;}
.mid .navi2 .color_162{ border-color:#dbddb4;}
.mid .navi2 .color_162:hover, .mid h4.color_162, .cajMesecaSingle.color_162, .mid .navi2 .color_162.active{ background-color:#dbddb4 !important;}
	
.triangle.color_127{border-color: #0875b8 transparent transparent transparent !important;}
.mid h2.color_127{ color:#0875b8 !important; border-color:#0875b8 !important;}
.mid .navi2 .color_127{ border-color:#0875b8;}
.mid .navi2 .color_127:hover, .mid h4.color_127, .cajMesecaSingle.color_127, .mid .navi2 .color_127.active{ background-color:#0875b8 !important;}
	
.triangle.color_128{border-color: #ed1c24 transparent transparent transparent !important;}
.mid h2.color_128{ color:#ed1c24 !important; border-color:#ed1c24 !important;}
.mid .navi2 .color_128{ border-color:#ed1c24;}
.mid .navi2 .color_128:hover, .mid h4.color_128, .cajMesecaSingle.color_128, .mid .navi2 .color_128.active{ background-color:#ed1c24 !important;}
	
.triangle.color_126{border-color: #fbbb04 transparent transparent transparent !important;}
.mid h2.color_126{ color:#fbbb04 !important; border-color:#fbbb04 !important;}
.mid .navi2 .color_126{ border-color:#fbbb04;}
.mid .navi2 .color_126:hover, .mid h4.color_126, .cajMesecaSingle.color_126, .mid .navi2 .color_126.active{ background-color:#fbbb04 !important;}
	
.triangle.color_129{border-color: #b548b3 transparent transparent transparent !important;}
.mid h2.color_129{ color:#b548b3 !important; border-color:#b548b3 !important;}
.mid .navi2 .color_129{ border-color:#b548b3;}
.mid .navi2 .color_129:hover, .mid h4.color_129, .cajMesecaSingle.color_129, .mid .navi2 .color_129.active{ background-color:#b548b3 !important;}
	
.triangle.color_130{border-color: #906527 transparent transparent transparent !important;}
.mid h2.color_130{ color:#906527 !important; border-color:#906527 !important;}
.mid .navi2 .color_130{ border-color:#906527;}
.mid .navi2 .color_130:hover, .mid h4.color_130, .cajMesecaSingle.color_130, .mid .navi2 .color_130.active{ background-color:#906527 !important;}



@keyframe fade {
	0% { opacity: 0; }
	25% { opacity: 1; }
	50% { opacity: 0; }
	75% { opacity: 1; }
}
@-webkit-keyframes fade {
	0% { opacity: 0; }
	25% { opacity: 1; }
	50% { opacity: 0; }
	75% { opacity: 1; }
}

@keyframe height
 {
	0% { height: 60px; }
	100% { height: 64px; }
}
@-webkit-keyframes height {
	0% { height: 60px; }
	100% { height: 64px; }
}

@keyframe width {
	0% {height:60px }
	9% {height:60px }
	10% {height:64px }
	11% {height:60px }
	20% {height:60px }
	21% {height:64px }
	22% {height:60px }
	30% {height:60px }
	31% {height:64px }
	32% {height:60px }
	50% {height:60px }
	55% {height:64px }
	60% {height:60px }
	65% {height:64px }
	70% {height:60px }
	75% {height:64px }
	80% {height:60px }
	85% {height:64px }
	90% {height:60px }
	95% {height:64px }
	100% {height:60px }
}
@-webkit-keyframes width {
	0% {height:60px }
	9% {height:60px }
	10% {height:64px }
	11% {height:60px }
	20% {height:60px }
	21% {height:64px }
	22% {height:60px }
	30% {height:60px }
	31% {height:64px }
	32% {height:60px }
	50% {height:60px }
	55% {height:64px }
	60% {height:60px }
	65% {height:64px }
	70% {height:60px }
	75% {height:64px }
	80% {height:60px }
	85% {height:64px }
	90% {height:60px }
	95% {height:64px }
	100% {height:60px }
}



@keyframes myfirst
{
0%   {background:red; left:0px; top:0px;}
25%  {background:yellow; left:200px; top:0px;}
50%  {background:blue; left:200px; top:200px;}
75%  {background:green; left:0px; top:200px;}
100% {background:red; left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:red; left:0px; top:0px;}
25%  {background:yellow; left:200px; top:0px;}
50%  {background:blue; left:200px; top:200px;}
75%  {background:green; left:0px; top:200px;}
100% {background:red; left:0px; top:0px;}
}
















