<!-- ###CAT_MENU_TEMPLATE### begin-->
	<br/><h1>Category menu</h1>
	<!-- ###CAT_MENU_ITEMS###  begin-->
	<ul class="cat_level_###CATEGORY_LEVEL_CLASS###">
		<!-- ###CAT_MENU_ITEM###  begin-->		
		<li><a href="###PRODUCTS_LIST_LINK###" class="###CATEGORY_CLASS###">###CATEGORY###  <!-- ###PRODUCTS_COUNT###  begin-->[###PRODUCTS_NUM###]<!-- ###PRODUCTS_COUNT###  end--> </a>###CATEGORY_CHILDS###</li>
		<!-- ###CAT_MENU_ITEM###  end-->
	</ul>
	<!-- ###CAT_MENU_ITEMS###  end-->
<!-- ###CAT_MENU_TEMPLATE### end -->

<!-- ###CAT_MENU_WITH_PRODUCTS_TEMPLATE### begin-->
	<br/><h1>Category menu</h1>
	<!-- ###CAT_MENU_ITEMS###  begin-->
	<ul class="cat_level_###CATEGORY_LEVEL_CLASS###">
		<!-- ###CAT_MENU_ITEM###  begin-->		
		<li>
			<a href="###PRODUCTS_LIST_LINK###" class="###CATEGORY_CLASS###">###CATEGORY###</a>
			<!-- ###CATEGORY_PRODUCTS### begin-->
			<div style="padding-left:10px;">
				<!-- ###PRODUCT_ITEM### begin-->
				<span><a href="###PRODUCT_CATEGORY_LINK###" class="###PRODUCT_SELECTED###">###PRODUCT###</a></span><br/>
				<!-- ###PRODUCT_ITEM### end-->
			<div>
			<br/>
			<!-- ###CATEGORY_PRODUCTS### end-->
			###CATEGORY_CHILDS###
		</li>
		<!-- ###CAT_MENU_ITEM###  end-->
	</ul>
	<!-- ###CAT_MENU_ITEMS###  end-->
<!-- ###CAT_MENU_WITH_PRODUCTS_TEMPLATE### end -->

<!-- ###PRODUCTS_LIST_TEMPLATE### begin-->
	<h1>Products list</h1>
	###CATEGORY_PATHTRACK###
	###CATEGORY_DESCRIPTION###
	###PRODUCTS_FILTER###
	<div id="products_list_head_###cUID###">
		<!-- ###PRODUCTS_HEAD_TEMPLATE### begin-->
			<span><a name="title" rel="1">title</a></span> <span><a name="price" rel="0">price</a></span>
		<!-- ###PRODUCTS_HEAD_TEMPLATE### end-->
	</div>
	<div id="products_list_body_###cUID###">
		<!-- ###PRODUCTS_PAGE_TEMPLATE### begin-->	
		<ul class="products_list" id="products_list_###cUID###_page_###PAGE###" ###NECESSARY_INLINE_STYLE###>
			<!-- ###ITEM_FIRST###  begin-->		
			<li style="border-top:1px solid black;margin-top:15px;">
				<!-- ###IMAGES### begin-->
					<!-- ###IMAGE_1### begin--><a href="###IMAGE_ORIGINAL###" rel="###PRODUCT_UID###_###IMAGE_POS###" title="###CAPTION###">###IMAGE###</a><!-- ###IMAGE_1### begin-->
					<!-- ###IMAGE_2### begin--><a href="###IMAGE_ORIGINAL###" rel="###PRODUCT_UID###_###IMAGE_POS###" title="###CAPTION###">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_2### begin-->
					<!-- ###IMAGE_3### begin--><a href="###IMAGE_ORIGINAL###" rel="###PRODUCT_UID###_###IMAGE_POS###" title="###CAPTION###">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_3### begin-->
				<!-- ###IMAGES### end-->
				<a href="###PRODUCT_SINGLE_LINK###">###PRODUCT###</a>
				<!-- ###ADD_TO_BASKET### begin-->
				<span>###PRODUCT_PRICE###</span>
				<span>###PRODUCT_DISCOUNT###</span>
				<a name="addToBasket" rel="###PRODUCT_UID###">Add to basket</a>
				<!-- ###ADD_TO_BASKET### end-->
				<span>###PRODUCT_SUBTITLE###</span>
				<span>###PRODUCT_DESCRIPTION###</span>
				<span>###PRODUCT_PROPERTIES###</span>
				<span>###PRODUCT_CATEGORIES###</span>
				<!-- ###PRODUCT_FILES### begin--><span>Files:###FILES###</span><!-- ###PRODUCT_FILES### end-->
				<span>###PRODUCT_STOCK###</span>
				<span>###PRODUCT_MEASURE_UNIT###</span>
			</li>
			<!-- ###ITEM_FIRST###  end-->
			<!-- ###ITEM_1###  begin-->
			<li>
				<!-- ###IMAGES### begin-->
					<!-- ###IMAGE_1### begin--><a href="###IMAGE_ORIGINAL###" rel="###PRODUCT_UID###_###IMAGE_POS###" title="###CAPTION###">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_1### begin-->
					<!-- ###IMAGE_2### begin--><a href="###IMAGE_ORIGINAL###" rel="###PRODUCT_UID###_###IMAGE_POS###" title="###CAPTION###">###IMAGE###</a><!-- ###IMAGE_2### begin-->
					<!-- ###IMAGE_3### begin--><a href="###IMAGE_ORIGINAL###" rel="###PRODUCT_UID###_###IMAGE_POS###" title="###CAPTION###">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_3### begin-->
				<!-- ###IMAGES### end-->
				<a href="###PRODUCT_SINGLE_LINK###" style="color:red">###PRODUCT###</a>
				<!-- ###ADD_TO_BASKET### begin-->
				<span>###PRODUCT_PRICE###</span>
				<span>###PRODUCT_DISCOUNT###</span>
				<a name="addToBasket" rel="###PRODUCT_UID###">Add to basket</a>
				<!-- ###ADD_TO_BASKET### end-->
				<span>###PRODUCT_SUBTITLE###</span>
				<span>###PRODUCT_DESCRIPTION###</span>
				<span>###PRODUCT_PROPERTIES###</span>
				<span>###PRODUCT_CATEGORIES###</span>
				<!-- ###PRODUCT_FILES### begin--><span>Files:###FILES###</span><!-- ###PRODUCT_FILES### end-->
				<span>###PRODUCT_STOCK###</span>
				<span>###PRODUCT_MEASURE_UNIT###</span>
			</li>
			<!-- ###ITEM_1###  end-->
			<!-- ###ITEM_2###  begin-->		
			<li>
				<a href="###PRODUCT_SINGLE_LINK###" style="color:orange">###PRODUCT###</a>
				<!-- ###ADD_TO_BASKET### begin-->
				<span>###PRODUCT_PRICE###</span>
				<span>###PRODUCT_DISCOUNT###</span>
				<a name="addToBasket" rel="###PRODUCT_UID###">Add to basket</a>
				<!-- ###ADD_TO_BASKET### end-->
				<span>###PRODUCT_SUBTITLE###</span>
				<span>###PRODUCT_DESCRIPTION###</span>
				<span>###PRODUCT_PROPERTIES###</span>
				<span>###PRODUCT_CATEGORIES###</span>
				<!-- ###PRODUCT_FILES### begin--><span>Files:###FILES###</span><!-- ###PRODUCT_FILES### end-->
				<span>###PRODUCT_STOCK###</span>
				<span>###PRODUCT_MEASURE_UNIT###</span>
			</li>
			<!-- ###ITEM_2###  end-->
			<!-- ###ITEM_3###  begin-->		
			<li>
				<a href="###PRODUCT_SINGLE_LINK###" style="color:green">###PRODUCT###</a>
				<!-- ###ADD_TO_BASKET### begin-->
				<span>###PRODUCT_PRICE###</span>
				<span>###PRODUCT_DISCOUNT###</span>
				<a name="addToBasket" rel="###PRODUCT_UID###">Add to basket</a>
				<!-- ###ADD_TO_BASKET### end-->
				<span>###PRODUCT_SUBTITLE###</span>
				<span>###PRODUCT_DESCRIPTION###</span>
				<span>###PRODUCT_PROPERTIES###</span>
				<span>###PRODUCT_CATEGORIES###</span>
				<!-- ###PRODUCT_FILES### begin--><span>Files:###FILES###</span><!-- ###PRODUCT_FILES### end-->	
				<span>###PRODUCT_STOCK###</span>
				<span>###PRODUCT_MEASURE_UNIT###</span>
			</li>
			<!-- ###ITEM_3###  end-->
			<!-- ###ITEM_4###  begin-->
			<li>
				<a href="###PRODUCT_SINGLE_LINK###" style="color:grey">###PRODUCT###</a>
				<!-- ###ADD_TO_BASKET### begin-->
				<span>###PRODUCT_PRICE###</span>
				<span>###PRODUCT_DISCOUNT###</span>
				<a name="addToBasket" rel="###PRODUCT_UID###">Add to basket</a>
				<!-- ###ADD_TO_BASKET### end-->
				<span>###PRODUCT_SUBTITLE###</span>
				<span>###PRODUCT_DESCRIPTION###</span>
				<span>###PRODUCT_PROPERTIES###</span>
				<span>###PRODUCT_CATEGORIES###</span>
				<!-- ###PRODUCT_FILES### begin--><span>Files:###FILES###</span><!-- ###PRODUCT_FILES### end-->
				<span>###PRODUCT_STOCK###</span>
				<span>###PRODUCT_MEASURE_UNIT###</span>
			</li>
			<!-- ###ITEM_4###  end-->
			<!-- ###ITEM_LAST###  begin-->		
			<li style="border-bottom:1px solid black;">
				<!-- ###IMAGES### begin-->
					<!-- ###IMAGE_1### begin--><a href="###IMAGE_ORIGINAL###" rel="###IMAGE_POS###" title="###CAPTION###">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_1### begin-->
					<!-- ###IMAGE_2### begin--><a href="###IMAGE_ORIGINAL###" rel="###IMAGE_POS###" title="###CAPTION###">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_2### begin-->
					<!-- ###IMAGE_3### begin--><a href="###IMAGE_ORIGINAL###" rel="###IMAGE_POS###" title="###CAPTION###">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_3### begin-->
				<!-- ###IMAGES### end-->
				<a href="###PRODUCT_SINGLE_LINK###">###PRODUCT###</a>
				<!-- ###ADD_TO_BASKET### begin-->
				<span>###PRODUCT_PRICE###</span>
				<span>###PRODUCT_DISCOUNT###</span>
				<a name="addToBasket" rel="###PRODUCT_UID###">Add to basket</a>
				<!-- ###ADD_TO_BASKET### end-->
				<span>###PRODUCT_SUBTITLE###</span>
				<span>###PRODUCT_DESCRIPTION###</span>
				<span>###PRODUCT_PROPERTIES###</span>
				<span>###PRODUCT_CATEGORIES###</span>
				<!-- ###PRODUCT_FILES### begin--><span>Files:###FILES###</span><!-- ###PRODUCT_FILES### end-->
				<span>###PRODUCT_STOCK###</span>
				<span>###PRODUCT_MEASURE_UNIT###</span>
			</li>
			<!-- ###ITEM_LAST###  end-->
		</ul>
		<!-- ###PRODUCTS_PAGE_TEMPLATE### END-->
	</div>
	###PAGE_BROWSER###
<!-- ###PRODUCTS_LIST_TEMPLATE### end -->

<!-- ###PRODUCTS_SINGLE_TEMPLATE### begin-->
	<br/><h1>Product single</h1>
	<!-- ###ADD_TO_BASKET### begin-->
	<span>###PRICE###</span>
	<span>###DISCOUNT###</span>
	<a name="addToBasket" rel="###UID###">Add to basket</a>
	<!-- ###ADD_TO_BASKET### end-->
	###CATEGORY_PATHTRACK###<br/>
	###TITLE###
	###SUBTITLE###
	###DESCRIPTION###
	###PROPERTIES###
	###MEASURE_UNIT###
	<span id="productStock">###STOCK###</span>
	<!-- ###SINGLE_PROPERTIES### begin-->
		<span>###SINGLE_PROPERTY###</span>
	<!-- ###SINGLE_PROPERTIES### end -->
	<!-- ###SINGLE_CATEGORIES### begin-->
		<a href="###CATEGORY_LIST_VIEW_LINK###">###SINGLE_CATEGORY###</a>
	<!-- ###SINGLE_CATEGORIES### end -->
	<!-- ###IMAGES### begin-->
		<!-- ###IMAGE_1### begin--><a href="###IMAGE_ORIGINAL###" rel="###IMAGE_POS###" title="###CAPTION###">###IMAGE###</a><!-- ###IMAGE_1### begin-->
		<!-- ###IMAGE_2### begin--><a href="###IMAGE_ORIGINAL###" rel="###IMAGE_POS###" title="###CAPTION###">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_2### begin-->
		<!-- ###IMAGE_3### begin--><a href="###IMAGE_ORIGINAL###" rel="###IMAGE_POS###" title="###CAPTION###">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_3### begin-->
	<!-- ###IMAGES### end-->
	<!-- ###PRODUCT_FILES### begin--><span>Files:###FILES###</span><!-- ###PRODUCT_FILES### end-->
<!-- ###PRODUCTS_SINGLE_TEMPLATE### end -->

<!-- ###PRODUCTS_PROPERTIES_TEMPLATE### begin-->
	<div>Filter:</div>
	<!-- ###PROPERTIES_ITEMS### begin-->
	<ul class="properties_level_###PROPERTY_LEVEL_CLASS###">
		<!-- ###PROPERTIES_PARRENT### begin-->		
		<li class="###PROPERTY_CLASS###"><a name="products_filter_parrent[]" rel="###CHILD_PROPERTIES_LIST###">###PROPERTY###</a> ###PROPERTY_CHILDS###</li>
		<!-- ###PROPERTIES_PARRENT### end-->
		<!-- ###PROPERTIES_CHILD### begin-->		
		<li class="###PROPERTY_CLASS###"><input type="checkbox" name="products_filter[]" value="###PROPERTY_UID###"/>###PROPERTY### ###PROPERTY_CHILDS###</li>
		<!-- ###PROPERTIES_CHILD### end-->
	</ul>
	<!-- ###PROPERTIES_ITEMS### end-->
	<br/>
<!-- ###PRODUCTS_PROPERTIES_TEMPLATE### end-->
