<!-- ###MAIN### begin -->
<div class="imateVprasanje">
<script type="text/javascript">
	jQuery(document).ready(function() {
	jQuery("#povprasevanje").validationEngine({promptPosition : "topRight", scroll: false})
	});
</script>
<form method="post" id="povprasevanje" class="povprasevanjeGlavni"> 
		<div class="povprasevanjeInputBox">
            <input type="text" name="tx_easycontact_pi1[ime]" id="ime" class="validate[required] povprasevanjeInput" onblur="if(this.value==''){this.value='Ime in priimek'}" onclick="if(this.value=='Ime in priimek'){this.value=''}" value="Ime in priimek" />
        </div>
        <div class="povprasevanjeInputBox">
            <input type="text" name="tx_easycontact_pi1[email]" id="email" class="validate[required,custom[email]] povprasevanjeInput" onblur="if(this.value==''){this.value='E-pošta'}" onclick="if(this.value=='E-pošta'){this.value=''}" value="E-pošta" />
        </div>
        
        <div class="povprasevanjeInputBox">
            <textarea name="tx_easycontact_pi1[vprasanje]" class="povprasevanjeTextArea" onblur="if(this.value==''){this.value='Napiši mnenje'}" onclick="if(this.value=='Napiši mnenje'){this.value=''}" value="Napiši mnenje">Napiši mnenje</textarea>
        </div>
        <input type="submit" name="tx_easycontact_pi1[submit]" value="Pošlji" class="flehaCrna inputFlehaCrna">
</form>
</div>

<!-- ###MAIN### end -->


<!-- ###EMAIL_USER### begin -->
<h3>Mnenja čajeljubca:</h3>
<table border="1" style="background-color:#f7f7f7;border:1px dotted black;width:600px;border-collapse:collapse;">   
        <tbody>  
                   
            <!-- ###EMAIL_ENTRY### begin -->
            <tr><td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; padding:5px 8px;">###KEY###:</td><td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; padding:5px 8px; font-weight:bold;">###VALUE###</td></tr>
            <!-- ###EMAIL_ENTRY### end -->
            
    </tbody>
</table>

<p></p>

<!-- ###EMAIL_USER### end -->


<!-- ###EMAIL### begin -->
<h3>Izpolnjeni podatki:</h3>
<table border="1" style="background-color:#f7f7f7;border:1px dotted black;width:600px;border-collapse:collapse;">	
        <tbody>	 
                   
            <!-- ###EMAIL_ENTRY### begin -->
            <tr><td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; padding:5px 8px;">###KEY###:</td><td style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:14px; padding:5px 8px; font-weight:bold;">###VALUE###</td></tr>
            <!-- ###EMAIL_ENTRY### end -->
            
	</tbody>
</table>

<p></p>
<!-- ###EMAIL### end -->













