<!-- ###MAIN### begin -->
<script>
	jQuery(function() {

		jQuery('#bannerscollection_zoominout_generous').bannerscollection_zoominout({
			skin: 'generous',
			responsive:true,
			width: 960,
			height: 358,
			showCircleTimer:false,
			circleColor:"#0062ae",
			width100Proc:false,
			numberOfThumbsPerScreen:0,
			thumbsOnMarginTop:14,
			thumbsWrapperMarginTop: -110,
			autoHideBottomNav:true,
			showBottomNav:false,
			showOnInitNavArrows:false,
			autoPlay:10
		});		
		
		
	});
</script>
<div id="bannerscollection_zoominout_generous">
    <div class="myloader"></div>
    <!-- CONTENT -->
    <ul class="bannerscollection_zoominout_list">
    	###TITLES###
    </ul>
	###VSEBINE###
</div>

<!-- ###MAIN### end -->

<!-- ###TITLE_SINGLE### begin -->
<li data-initialZoom="###IMAGE_INITIAL_ZOOM###" data-finalZoom="###IMAGE_FINAL_ZOOM###" data-bottom-thumb="###IMAGE_THUMB_SRC###" data-text-id="#textId###IMAGE_TEXT_ID###" ###LINKDATA### data-video="###DATA_IFRAME_STATUS###">
    <img src="###IMAGE_SRC###" ###IMAGE_SIZE###  />###DATA_IFRAME###
</li>
<!-- ###TITLE_SINGLE### end -->

<!-- ###VSEBINA_STYLE1### begin -->
<div id="textId###IMAGE_TEXT_ID###" class="kenStyle1 bannerscollection_zoominout_texts">
    <!-- ###VSEBINA_TEXT1### begin --><div class="bannerscollection_zoominout_text_line kenDiv" data-initial-left="70" data-initial-top="30" data-final-left="70" data-final-top="30" data-duration="1" data-fade-start="0" data-delay="1"><div class="kenInnerText"><a href="###DATA_LINK_URL###" target="###DATA_LINK_TARGET###">###TEXT1###</a></div></div><!-- ###VSEBINA_TEXT1### end -->
    <!-- ###VSEBINA_TEXT2### begin --><div class="bannerscollection_zoominout_text_line" data-initial-left="###TEXT_INITIAL_LEFT###" data-initial-top="###TEXT_INITIAL_TOP###" data-final-left="###TEXT_FINAL_LEFT###" data-final-top="###TEXT_FINAL_TOP###" data-duration="###TEXT_DURATION###" data-fade-start="###TEXT_FADE###" data-delay="###TEXT_DELAY###">###TEXT2###</div><!-- ###VSEBINA_TEXT2### end -->
    <!-- ###VSEBINA_TEXT3### begin --><div class="bannerscollection_zoominout_text_line" data-initial-left="###TEXT_INITIAL_LEFT###" data-initial-top="###TEXT_INITIAL_TOP###" data-final-left="###TEXT_FINAL_LEFT###" data-final-top="###TEXT_FINAL_TOP###" data-duration="###TEXT_DURATION###" data-fade-start="###TEXT_FADE###" data-delay="###TEXT_DELAY###">###TEXT3###</div><!-- ###VSEBINA_TEXT3### end -->
</div> 
<!-- ###VSEBINA_STYLE1### end -->

<!-- ###VSEBINA_STYLE2### begin -->
<div id="textId###IMAGE_TEXT_ID###" class="kenStyle2 bannerscollection_zoominout_texts">
    <!-- ###VSEBINA_TEXT1### begin --><div class="bannerscollection_zoominout_text_line kenDiv" data-initial-left="540" data-initial-top="20" data-final-left="540" data-final-top="20" data-duration="1" data-fade-start="0" data-delay="0"><div class="kenInnerText"><a href="###DATA_LINK_URL###" target="###DATA_LINK_TARGET###">###TEXT1###</a></div></div><!-- ###VSEBINA_TEXT1### end -->
    <!-- ###VSEBINA_TEXT2### begin --><div class="bannerscollection_zoominout_text_line" data-initial-left="###TEXT_INITIAL_LEFT###" data-initial-top="###TEXT_INITIAL_TOP###" data-final-left="###TEXT_FINAL_LEFT###" data-final-top="###TEXT_FINAL_TOP###" data-duration="###TEXT_DURATION###" data-fade-start="###TEXT_FADE###" data-delay="###TEXT_DELAY###">###TEXT2###</div><!-- ###VSEBINA_TEXT2### end -->
    <!-- ###VSEBINA_TEXT3### begin --><div class="bannerscollection_zoominout_text_line" data-initial-left="###TEXT_INITIAL_LEFT###" data-initial-top="###TEXT_INITIAL_TOP###" data-final-left="###TEXT_FINAL_LEFT###" data-final-top="###TEXT_FINAL_TOP###" data-duration="###TEXT_DURATION###" data-fade-start="###TEXT_FADE###" data-delay="###TEXT_DELAY###">###TEXT3###</div><!-- ###VSEBINA_TEXT3### end -->
</div> 
<!-- ###VSEBINA_STYLE2### end -->

<!-- ###VSEBINA_STYLE3### begin -->
<div id="textId###IMAGE_TEXT_ID###" class="kenStyle3 bannerscollection_zoominout_texts">
    <!-- ###VSEBINA_TEXT1### begin --><div class="bannerscollection_zoominout_text_line kenDiv" data-initial-left="20" data-initial-top="20" data-final-left="20" data-final-top="20" data-duration="1" data-fade-start="0" data-delay="0"><div class="kenInnerText"><a href="###DATA_LINK_URL###" target="###DATA_LINK_TARGET###">###TEXT1###</a></div></div><!-- ###VSEBINA_TEXT1### end -->
    <!-- ###VSEBINA_TEXT2### begin --><div class="bannerscollection_zoominout_text_line" data-initial-left="###TEXT_INITIAL_LEFT###" data-initial-top="###TEXT_INITIAL_TOP###" data-final-left="###TEXT_FINAL_LEFT###" data-final-top="###TEXT_FINAL_TOP###" data-duration="###TEXT_DURATION###" data-fade-start="###TEXT_FADE###" data-delay="###TEXT_DELAY###">###TEXT2###</div><!-- ###VSEBINA_TEXT2### end -->
    <!-- ###VSEBINA_TEXT3### begin --><div class="bannerscollection_zoominout_text_line" data-initial-left="###TEXT_INITIAL_LEFT###" data-initial-top="###TEXT_INITIAL_TOP###" data-final-left="###TEXT_FINAL_LEFT###" data-final-top="###TEXT_FINAL_TOP###" data-duration="###TEXT_DURATION###" data-fade-start="###TEXT_FADE###" data-delay="###TEXT_DELAY###">###TEXT3###</div><!-- ###VSEBINA_TEXT3### end -->
</div> 
<!-- ###VSEBINA_STYLE3### end -->

<!-- ###VSEBINA_STYLE4### begin -->
<div id="textId###IMAGE_TEXT_ID###" class="bannerscollection_zoominout_texts">
    <!-- ###VSEBINA_TEXT1### begin --><div class="bannerscollection_zoominout_text_line" data-initial-left="###TEXT_INITIAL_LEFT###" data-initial-top="###TEXT_INITIAL_TOP###" data-final-left="###TEXT_FINAL_LEFT###" data-final-top="###TEXT_FINAL_TOP###" data-duration="###TEXT_DURATION###" data-fade-start="###TEXT_FADE###" data-delay="###TEXT_DELAY###">###TEXT1###</div><!-- ###VSEBINA_TEXT1### end -->
    <!-- ###VSEBINA_TEXT2### begin --><div class="bannerscollection_zoominout_text_line" data-initial-left="###TEXT_INITIAL_LEFT###" data-initial-top="###TEXT_INITIAL_TOP###" data-final-left="###TEXT_FINAL_LEFT###" data-final-top="###TEXT_FINAL_TOP###" data-duration="###TEXT_DURATION###" data-fade-start="###TEXT_FADE###" data-delay="###TEXT_DELAY###">###TEXT2###</div><!-- ###VSEBINA_TEXT2### end -->
    <!-- ###VSEBINA_TEXT3### begin --><div class="bannerscollection_zoominout_text_line" data-initial-left="###TEXT_INITIAL_LEFT###" data-initial-top="###TEXT_INITIAL_TOP###" data-final-left="###TEXT_FINAL_LEFT###" data-final-top="###TEXT_FINAL_TOP###" data-duration="###TEXT_DURATION###" data-fade-start="###TEXT_FADE###" data-delay="###TEXT_DELAY###">###TEXT3###</div><!-- ###VSEBINA_TEXT3### end -->
</div> 
<!-- ###VSEBINA_STYLE4### end -->

<!-- ###DATA_LINK### begin -->
data-link="###DATA_LINK_URL###" data-target="###DATA_LINK_TARGET###"
<!-- ###DATA_LINK### end -->