<!-- ###MAIN### begin -->
<script type="text/javascript"> 
	$(document).ready(function(){
    $("#featured").tabs(
          {event: 'mouseover'}).tabs(
          { fx: [{opacity: 'fadeOut', duration: 'slow'},
          {opacity: 'toggle', duration: 'fast'}] }).tabs(
         'rotate', 5000, true);
    });
</script>
<div id="featured">
<ul class="ui-tabs-nav">
    ###TITLES###
</ul>
###VSEBINE###
<!-- ###TITLE_SINGLE### begin -->
<li class="ui-tabs-nav-item" id="nav-fragment-###COUNTNUMBER###"><a href="#fragment-###COUNTNUMBER###" class="fragment-###COUNTNUMBER###">###TITLE###</a></li>
<!-- ###TITLE_SINGLE### end -->


<!-- ###VSEBINA### begin -->
<div id="fragment-###COUNTNUMBER###" class="ui-tabs-panel ui-tabs-hide" >
    <div class="info">
    	<a href="###POVEZAVA###" title="###TITLE###" target="###POVEZAVA_TARGET###">
        <div class="modernTabSlika"><img src="###IMAGE###" /></div>
        </a>
    </div>
</div>
<!-- ###VSEBINA### end -->

</div> 
<!-- ###MAIN### end -->
<h1>###TITLE###</h1>
            ###TEXT###