<!--###MAIL_RACUN###-->
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Račun št.: ###REFERENCE###</title>
<style>
<!--
						.bbig {font-size: 10.5pt; font-weight: bold; font-family:Tahoma, Geneva, sans-serif}
						.normal {font-size: 12pt; font-family: Tahoma, Geneva, sans-serif}
						.bnormal {font-size: 11pt; font-weight: bold; font-family: Tahoma, Geneva, sans-serif; padding-bottom:5px;}
						.small {font-size: 11pt; font-family: Tahoma, Geneva, sans-serif}																
						.mini {font-size: 2pt; font-family: Tahoma, Geneva, sans-serif}
						.izdelki .small, .izdelki .normal, .izdelki .bnormal {padding:5px 0px;}
						
					-->
</style>
</head>
<body>
<table width="750" border="0" cellpadding="0" cellspacing="0" align="center">
<tr>
<td>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
    <td class="normal" valign="top" align="left" width="50%"><img src="http://www.zisha.si/fileadmin/template/images/logo_racun.png" width="150"></td>
    <td class="normal" valign="top" align="right" width="50%">
        Naprej.net d.o.o.<br>
        Trg Franca Fakina 2b<br>
        1420 Trbovlje<br><br>
        T: 0590 23 089<br>	
        E: info@naprej.net<br><br>										
        ID št. za DDV : SI70764492<br>
        TRR: SI56 2900 0005 0921 850<br>											
    </td>
    </tr>
    
    <tr><td style="border-bottom:1px solid #c6c6c6;"><br><br></td><td style="border-bottom:1px solid #c6c6c6;"><br><br></td></tr>
 
    <tr>
    <td class="normal" valign="bottom" align="left" width="50%">
        <span style="color:#bcbdc1; font-weight:bold;">Kupec</span><br>
        ###USER_LAST_NAME### ###USER_NAME###<br>
        ###USER_ADDRESS###<br>
        ###USER_ZIP###&nbsp;###USER_CITY###
        <br><br><br>
    </td>
    <td class="normal" valign="top" align="right" width="50%">
    	<br>
        <span style=" font-weight:bold; font-size:20pt;">Račun: ###REFERENCE###</span><br><br>
        Sklic pri računu na: 00 ###REFERENCE###-2014<br>
        Datum računa: ###DATE_NOW###<br>
        Rok plačila: ###DATE_DUE###<br>
        Dostava: Osebni prevzem ali po povzetju<br><br>									
    </td>
    </tr>
    </table>
</td>
</tr>
<tr>
<td>
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="izdelki">
<tr>
<td class="bnormal" valign="top" align="left" width="35%">Opis izdelka</td>
<td class="bnormal" valign="top" align="right" width="10%">Količina</td>
<td class="bnormal" valign="top" align="right" width="17%">Cena na enoto</td>
<td class="bnormal" valign="top" align="right" width="10%">Rabat %</td>
<td class="bnormal" valign="top" align="right" width="8%">DDV %</td>
<td class="bnormal" valign="top" align="right" width="10%">Skupaj</td>
</tr>

<tr>
<td class="mini" style="border-top: 1px solid black;" colspan="10">&nbsp;</td>
</tr>

<!--###SINGLE_IZDELEK###-->
<tr>
<td class="small" valign="top" align="left">###PRODUCT###</td>
<td class="small" valign="top" align="right"><!-- ###SINGLE_PROPERTY2_DISPLAY### begin-->###SINGLE_PROPERTY2_TITLE###<!-- ###SINGLE_PROPERTY2_DISPLAY### end--></td>
<td class="small" valign="top" align="right">###PRODUCT_PRICE###</td>
<td class="small" valign="top" align="right">###PRODUCT_ACTION_DISCOUNT###</td>
<td class="small" valign="top" align="right">###PRODUCT_TAX###</td>
<td class="small" valign="top" align="right">###PRODUCT_TOTAL_PRICE###</td>
</tr>

<tr>
<td style="border-top: 1px solid #c6c6c6;" class="mini" colspan="6">&nbsp;</td>
</tr>
<!--###SINGLE_IZDELEK###-->
<!-- ###PROMO_FIX### begin -->
<tr>
<td colspan="3">&nbsp;</td>
<td style="border-bottom: 1px solid #000;" valign="top" align="left" class="normal" colspan="2">Kupon</td>
<td style="border-bottom: 1px solid #000;" valign="top" align="right" class="normal">###FIXED_DISCOUNT###€</td>
</tr>
<!-- ###PROMO_FIX### end -->
<tr>
<td colspan="3">&nbsp;</td>
<td style="border-bottom: 1px solid #c6c6c6;" valign="top" align="left" class="normal" colspan="2">Skupaj</td>
<td style="border-bottom: 1px solid #c6c6c6;" valign="top" align="right" class="normal">###SUM_TOTAL_PRICE_NO_TAX###</td>
</tr>
<tr>
<td colspan="3">&nbsp;</td>
<td style="border-bottom: 1px solid #000;" valign="top" align="left" class="normal" colspan="2">Rabat</td>
<td style="border-bottom: 1px solid #000;" valign="top" align="right" class="normal">Tuki je vrednost v € in ne %</td>
</tr>
<tr>
<td colspan="3">&nbsp;</td>
<td style="border-bottom: 1px solid #c6c6c6;" valign="top" align="left" class="normal" colspan="2">Skupaj brez DDV</td>
<td style="border-bottom: 1px solid #c6c6c6;" valign="top" align="right" class="normal">###SUM_TOTAL_PRICE_NO_TAX###</td>
</tr>
<tr>
<td colspan="3">&nbsp;</td>
<td style="border-bottom: 1px solid #c6c6c6;" valign="top" align="left" class="normal" colspan="2">DDV 9,5% od osnove (tu je vrednost v €)</td>
<td style="border-bottom: 1px solid #c6c6c6;" valign="top" align="right" class="normal">###SUM_TOTAL_TAX_OTHER###</td>
</tr>

<tr>
<td colspan="3">&nbsp;</td>
<td style="border-bottom: 1px solid #000;" valign="top" align="left" class="normal" colspan="2">DDV 22% od osnove (tu je vrednost v €)</td>
<td style="border-bottom: 1px solid #000;" valign="top" align="right" class="normal">###SUM_TOTAL_TAX_DEF###</td>
</tr>

<tr>
<td colspan="3">&nbsp;</td>
<td style="border-bottom: 1px solid #000;" valign="top" align="left" class="bnormal" colspan="2">SKUPAJ ZA PLAČILO EUR</td>
<td style="border-bottom: 1px solid #000;" valign="top" align="right" class="bnormal">###SUM_TOTAL_PRICE_POSTAGE###</td>
</tr>
</table>
</td>
</tr>
<tr>
<td class="normal">
<br>
<br>
<br>
</td>
</tr>
<tr>
<td>
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
<tr>
<td class="small" align="left">
<span style="font-weight:bold;">Opombe:</span><br>
V 15. dneh imate pravico vrniti nepoškodovano in v nespremenjeni količini kupljeno blago brez kakršnekoli odškodnine. ###PAYMENT_TEXT###<br><br>
Zisha čajnica<br>
NAPREJ.NET d.o.o.,<br>
Trg Franca Fakina 2b, 1420 Trbovlje, Slovenija<br>
T: 05 99 23 089, M: 041 658 400, E: info@naprej.net, I: www.naprej.net<br><br>
Osnovni kapital družbe 7.500,00 EUR<br>
IBAN: SI56 2900 0005 0921 850 / Unicredit Banka Slovenije d.d. / Swift: BACXSI22<br>
Matična številka: 3580601000<br>
Davčna številka: SI77161017
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>
<!--###MAIL_RACUN###-->
