<!-- ###PRODUCTS_BASKET_CHECKOUT_TEMPLATE### begin-->
<div class="row">

	<!-- Start Main Title Block -->
	<div class="intro-block text-center">
		<h1 class="title-secondary">
			<span>Naročilo</span>
			<span>Blagajna</span>
		</h1>
	</div>
	<!-- //End Main Title Block -->

	<!-- Start Main Content -->
	<div class="main-content col-md-12">

		<div class="table-responsive bs-margin-large-bottom">
			<table class="table bs-table table__checkout">
				<thead>
				<tr>
					<th class="checkout__headers-image">Artikel:</th>
					<th class="checkout__headers-quantity">Količina:</th>
					<th class="checkout__headers-price">Cena:</th>
				</tr>
				</thead>
				<tbody>
				<!--###BASKET_SINGLE_PRODUCT###-->
				<tr>
					<td class="checkout__data-product">
						###PRODUCT###
					</td>
					<td class="checkout__data-quantity">
						###PRODUCT_QUANTITY###
					</td>
					<td class="checkout__data-price">
						###PRODUCT_TOTAL_PRICE### €
					</td>
				</tr>
				<!--###BASKET_SINGLE_PRODUCT###-->
				</tbody>
			</table>
		</div>


			<div class="row">
				<div class="col-sm-6">
					<fieldset class="checkout__form-data">
						<legend>Podatki za račun:</legend>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label for="ime">Ime:</label>
								<input type="text" class="form-control validate[required,length[1,200]] radius" type="text" id="buyer_name" name="buyer_name" value="###USER_NAME###">
							</div>
							<div class="col-sm-6 form-group">
								<label for="priimek">Priimek:</label>
								<input type="text"  class="form-control validate[required,length[1,200]] radius" type="text" id="buyer_surname" name="buyer_surname" value="###USER_LAST_NAME###">
							</div>
							<div class="col-sm-6 form-group">
								<label for="telefon">Telefon:</label>
								<input type="text" class="form-control" id="buyer_tel" name="buyer_tel" value="###TEL###">
							</div>
							<div class="col-sm-6 form-group">
								<label for="email2">Email:</label>
								<input type="email" class="form-control validate[required,custom[email]] radius" id="buyer_email" type="text" name="buyer_email" value="###EMAIL###">
							</div>
							<div class="col-sm-12 form-group">
								<label for="naslov">Naslov:</label>
								<input type="text" class="form-control validate[required,length[1,200]] radius" type="text" id="buyer_address" name="buyer_address" value="###USER_ADDRESS###">
							</div>
							<div class="col-sm-6 form-group">
								<label for="posta">Poštna številka:</label>
								<input type="text" class="form-control validate[required,length[1,200]] radius" type="text" id="buyer_post" name="buyer_post" value="###USER_ZIP###">
							</div>
							<div class="col-sm-6 form-group">
								<label for="kraj">Kraj:</label>
								<input type="text" class="form-control validate[required,length[1,200]] radius" type="text" id="buyer_city" name="buyer_city" value="###USER_CITY###">
							</div>
						</div>
					</fieldset>
				</div>
				<div class="col-sm-6">


					<fieldset class="checkout__form-shipping">
						<legend>Izbira dostave:</legend>
						<div class="row">
							<div class="col-sm-6">
								<div class="checkbox">
									<input type="checkbox" id="dostava-1">
									<label for="dostava-1">Dostava prek GLS - 4€</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="checkbox">
									<input type="checkbox" id="dostava-2">
									<label for="dostava-2">Osebni prevzem</label>
								</div>
							</div>
						</div>
					</fieldset>
					<fieldset class="checkout__form-payment">
						<legend>Izbirite način plačila:</legend>
						<div class="row">
							<div class="col-sm-6">
								<div class="checkbox">
									<input type="checkbox" id="placilo-1">
									<label for="placilo-1">Plačilo po povzetju</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="checkbox">
									<input type="checkbox" id="placilo-2">
									<label for="placilo-2">Plačilo po predračunu. UPN nalog</label>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="row">
						<div class="col-md-6">
							<fieldset class="checkout__form-buyer">
								<legend>Plačnik ni prejemnik:</legend>
								<div class="checkbox">
									<input type="checkbox" id="buyer">
									<label for="buyer">Prejem izdelka na drug naslov</label>
								</div>
							</fieldset>
						</div>
						<div class="col-md-6">
							<fieldset class="checkout__form-company">
								<legend>Ste pravna oseba?</legend>
								<div class="checkbox">
									<input type="checkbox" id="company">
									<label for="company">Nakupujem kot pravna oseba</label>
								</div>
							</fieldset>
						</div>
					</div>
				</div>

				<div class="col-sm-5 col-sm-offset-7">
					<div class="checkout__summary">
						<div class="table-responsive">
							<table class="table">
								<tbody>
								<tr class="checkout__summary-price1">
									<td>Cena brez DDV</td>
									<td class="text-right">###SUM_TOTAL_PRICE_NO_TAX### €</td>
								</tr>
								<tr class="checkout__summary-discount">
									<td>Popust</td>
									<td class="text-right">###TOTAL_DISCOUNT### %</td>
								</tr>
								<tr class="checkout__summary-tax1">
									<td>DDV 9,5 %</td>
									<td class="text-right">###SUM_TOTAL_TAX_OTHER### €</td>
								</tr>
								<tr class="checkout__summary-tax2">
									<td>DDV 22 %</td>
									<td class="text-right">###SUM_TOTAL_TAX_DEF### €</td>
								</tr>

								<tr class="checkout__summary-price2">
									<td>Poštnina</td>
									<td class="text-right">###POSTAGE_VAL### €</td>
								</tr>
								<!-- ###PROMO_FIX### begin --><li>###FIXED_DISCOUNT### €</li><!-- ###PROMO_FIX### end -->
								<tr class="checkout__summary-price2">
									<td>Za plačilo</td>
									<td class="text-right">###SUM_TOTAL_PRICE_POSTAGE### €</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>

					<button  onClick="jQuery('#form_blagajna').attr('action','###PAYMENT_LINK###').submit();" class="btn btn-blank btn-checkout bs-margin-bottom bs-pull-right">Na blagajno</button>

				</div>

			</div>

	</div>
	<!-- //End Main Content -->

</div>
<!-- ###PRODUCTS_BASKET_CHECKOUT_TEMPLATE### begin-->

<!-- ###PRODUCTS_BASKET_CHECKOUT_TEMPLATE_OLD### begin-->
<script>
	function setupLabel() {
		if ($('.label_check input').length) {
			$('.label_check').each(function(){
				$(this).removeClass('c_on');
			});
			$('.label_check input:checked').each(function(){
				$(this).parent('label').addClass('c_on');
			});
		};
		if ($('.label_radio input').length) {
			$('.label_radio').each(function(){
				$(this).removeClass('r_on');
			});
			$('.label_radio input:checked').each(function(){
				$(this).parent('label').addClass('r_on');
			});
		};
	};
	$(document).ready(function(){
		$('body').addClass('has-js');
		$('.label_check, .label_radio').click(function(){
			setupLabel();
		});
		setupLabel();
	});
</script>
<script type="text/javascript">
	function show(Id) {
		document.getElementById(Id).style.display="block";
	}
	function hide(Id) {
		document.getElementById(Id).style.display="none";
	}
</script>

<div class="blagajna">
	<div class="blagajnaCifre">
		<p>1</p><span></span>
		<p>2</p><span></span>
		<p>3</p><span style="margin-right:0px;"></span>
	</div>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			jQuery("#form_blagajna").validationEngine({promptPosition : "topRight", scroll: false})
		});
	</script>
	<form id="form_blagajna" name="form_blagajna" method="POST">
		<div class="blagajnaStolp">
			<div class="blagajnaBox radius">
				<h2>PODATKI ZA RAČUN</h2>
				<div class="blagajnaInputS"><label>Ime:</label><input class="validate[required,length[1,200]] radius" type="text" id="buyer_name" name="buyer_name" value="###USER_NAME###"></div>
				<div class="blagajnaInputS"><label>Priimek:</label><input class="validate[required,length[1,200]] radius" type="text" id="buyer_surname" name="buyer_surname" value="###USER_LAST_NAME###"></div>
				<div class="blagajnaInputS"><label>Telefon:</label><input class="radius" type="text" id="buyer_tel" name="buyer_tel" value="###TEL###"></div>
				<div class="blagajnaInputS"><label>E-pošta:</label><input class="validate[required,custom[email]] radius" id="buyer_email" type="text" name="buyer_email" value="###EMAIL###"></div>
				<div class="blagajnaInputL"><label>Naslov:</label><input class="validate[required,length[1,200]] radius" type="text" id="buyer_address" name="buyer_address" value="###USER_ADDRESS###"></div>
				<div class="blagajnaInputS"><label>Poštna številka:</label><input class="validate[required,length[1,200]] radius" type="text" id="buyer_post" name="buyer_post" value="###USER_ZIP###"></div>
				<div class="blagajnaInputS"><label>Kraj:</label><input class="validate[required,length[1,200]] radius" type="text" id="buyer_city" name="buyer_city" value="###USER_CITY###"></div>
			</div>

			<div class="blagajnaBox radius">
				<h2>STE PRAVNA OSEBA?</h2>
				<p>Če nakupujete kot pravna oseba, obkljukajte spodaj in izpolnite potrebna polja.</p>
				<label title="Izberi" for="pravnaOseba" class="label_check" >
					<p>Nakupujem kot pravna oseba</p>
					<input type="checkbox" id="pravnaOseba" name="pravnaOseba" onclick="if(this.checked){show('pravnaOsebaBox')}else{hide('pravnaOsebaBox')}" ###PRAVNA_CHECKED###>
				</label>
				<div id="pravnaOsebaBox" class="pravna###PRAVNA_CHECKED###">
					<div class="blagajnaInputS"><label>Podjetje:</label><input type="text" class="validate[required,length[1,200]] radius" id="company" name="company" value="###COMPANY###"></div>
					<div class="blagajnaInputS"><label>Davčna številka:</label><input type="text" class="validate[required,length[1,200]] radius" id="id_ddv" name="id_ddv" value="###ID_DDV###"></div>
				</div>
			</div>

			<div class="blagajnaBox radius" style="display:none;">
				<h2>USTVARI SI RAČUN ZA NAKUPOVANJE</h2>
				<p>Bi želeli v prihodnosti še nakupovati? Ustvarite si račun, izberite geslo, da vam ne bo treba vpisovati vseh podatkov še enkrat.</p>
				<label title="Izberi" for="createPass" class="label_check" >
					<p>Ustvari si račun za kasnejše nakupovanje</p>
					<input type="checkbox" id="createPass" name="createPass" onclick="if(this.checked){show('createPassBox')}else{hide('createPassBox')}">
				</label>
				<div id="createPassBox" style="display:none;">
					<div class="blagajnaInputS"><label>Geslo:</label><input type="text" id="password" name="password" value="###PASSWORD###" class="validate[required,minSize[6]] radius"></div>
					<div class="blagajnaInputS"><label>Ponovi geslo:</label><input type="text" id="password_repeat" name="password_repeat" value="###PASSWORD_REPEAT###" class="validate[required,equals[password]] radius"></div>
				</div>
			</div>

			<div class="blagajnaBox radius">
				<h2>PLAČNIK NI PREJEMNIK</h2>
				<p>Če bi želeli, da vam dostavimo izdelek na drug naslov prosimo, da izplonite spodnja polja.</p>
				<label title="Izberi" for="drugPlacnik" class="label_check" >
					<p>Želim, da mi izdelek pošljete na drug naslov</p>
					<input type="checkbox" id="drugPlacnik" name="drugPlacnik" onclick="if(this.checked){show('drugPlacnikBox')}else{hide('drugPlacnikBox')}">
				</label>
				<div id="drugPlacnikBox" style="display:none;">
					<div class="blagajnaInputS"><label>Ime:</label><input type="text" class="validate[required,length[1,200]] radius" id="reciver_name" name="reciver_name"></div>
					<div class="blagajnaInputS"><label>Priimek:</label><input type="text" class="validate[required,length[1,200]] radius" id="reciver_surname" name="reciver_surname"></div>
					<div class="blagajnaInputL"><label>Naslov:</label><input type="text" class="validate[required,length[1,200]] radius" id="reciver_address" name="reciver_address"></div>
					<div class="blagajnaInputS"><label>Poštna številka:</label><input type="text" class="validate[required,length[1,200]] radius" id="reciver_post" name="reciver_post"></div>
					<div class="blagajnaInputS"><label>Kraj:</label><input type="text" class="validate[required,length[1,200]] radius" id="reciver_city" name="reciver_city"></div>
				</div>
			</div>
		</div>

		<div class="blagajnaStolp" style=" margin:0px 9px;">
			<div class="blagajnaBox radius">
				<h2>IZBIRA DOSTAVE</h2>
				<p></p>
				<p>Pri nakupu nad 20€ vam poštnine ne zaračunamo.</p>
				<label title="Izberi" for="prevzem1" class="label_check" >
					<p>Dostava prek GLS - 4€</p>
					<input type="radio" id="prevzem1" name="prevzem" class="validate[required]" value="1" checked="checked" onclick="if(this.checked){hide('prevzemBox')}else{hide('prevzemBox')}">
				</label>
				<label title="Izberi" for="prevzem2" class="label_check" >
					<p>Osebni prevzem</p>
					<input type="radio" id="prevzem2" name="prevzem" class="validate[required]" onclick="if(this.checked){show('prevzemBox')}else{hide('prevzemBox')}" value="2">
				</label>
				<div id="prevzemBox" style="display:none;">
					<p>Naročilo prevzamete na Nazorjevi ulici 12 v Ljubljani (<a style="text-decoration:underline;" href="kontakt_in_lokacija/" target="_blank">lokaciji podjetja</a>). Vsak delavnik med 10:00 - 19:00 uro in vsako soboto med 10:00 in 13:00 uro.</p>
				</div>
			</div>
			<div class="blagajnaBox radius">
				<h2>IZBERITE NAČIN PLAČILA</h2>
				<p>Omogočamo vam plačilo po povzetju in plačilo po predračunu.</p>
				<label title="Izberi" for="povzetju" class="label_radio" >
					<p>Plačilo po povzetju</p>
					<input name="tipPlacila" type="radio" class="validate[required]" id="povzetju" value="1">
				</label>
				<label title="Izberi" for="upn" class="label_radio" >
					<p>Plačilo po predračunu. UPN nalog</p>
					<input name="tipPlacila" type="radio" class="validate[required]" id="upn" value="2">
				</label>
			</div>

			<!--
            <div class="blagajnaBox radius">
                <h2>OPOMBE NAKUPA</h2>
                <div class="blagajnaInputL">
                    <label>Vpiši opombe:</label>
                    <textarea name="opombeNakupa"></textarea>
                </div>
            </div>-->

			<a class="infoPush infoPVaren shadowH radius">
			<span><h2>100% VAREN NAKUP</h2>
			<p>Pri nas je varnost nakupa in skrb za kupce na zelo visoki ravni.</p></span>
			</a>
		</div>

		<div class="blagajnaStolp">
			<div class="blagajnaBox radius">
				<h2>PREGLED KOŠARICE</h2>
				<ul class="first">
					<li>Izdelek</li>
					<li>Količina</li>
					<li>Cena</li>
				</ul>
				<!--###BASKET_SINGLE_PRODUCT###-->
				<ul>
					<li>
						<a href="###PRODUCT_SINGLE_LINK###">###PRODUCT###</a>
						<!-- ###SINGLE_PROPERTY_DISPLAY### begin--><p>Barva: ###SINGLE_PROPERTY_TITLE###</p><!-- ###SINGLE_PROPERTY_DISPLAY### end-->
						<!-- ###SINGLE_PROPERTY2_DISPLAY### begin--><p>Velikost: ###SINGLE_PROPERTY2_TITLE###</p><!-- ###SINGLE_PROPERTY2_DISPLAY### end-->
					</li>
					<li>###PRODUCT_QUANTITY###</li>
					<li>###PRODUCT_TOTAL_PRICE### €</li>
				</ul>
				<!--###BASKET_SINGLE_PRODUCT###-->
			</div>
			<div class="basketBlagajnaBox radius" id="sumPersonal">
				<ul>
					<li>Cena brez DDV</li>
					<li>Popust</li>
					<li>DDV 9,5%</li>
					<li>DDV 22%</li>
					<!-- ###PROMO_TEXT### begin --><li>Kupon</li><!-- ###PROMO_TEXT### end -->
					<li id="pr_c1" class="bold">Za plačilo</li>
				</ul>
				<ul>
					<li>###SUM_TOTAL_PRICE_NO_TAX### €</li>
					<li>###TOTAL_DISCOUNT### %</li>
					<li>###SUM_TOTAL_TAX_OTHER### €</li>
					<li>###SUM_TOTAL_TAX_DEF_2### €</li>
					<!-- ###PROMO_FIX### begin --><li>###FIXED_DISCOUNT### €</li><!-- ###PROMO_FIX### end -->
					<li class="bold">###SUM_TOTAL_PRICE_NO_POSTAGE_FIXED### €</li>
				</ul>
				<a class="flehaPink" onClick="jQuery('#form_blagajna').attr('action','###PAYMENT_LINK###').submit();">ODDAJ NAROČILO</a>
			</div>
			<div class="basketBlagajnaBox radius" id="sumPost">
				<ul>
					<li>Cena brez DDV</li>
					<li>Popust</li>
					<li>DDV 9,5%</li>
					<li>DDV 22%</li>
					<li>Cena brez poštnine</li>
					<li>Poštnina</li>
					<!-- ###PROMO_TEXT### begin --><li>Kupon</li><!-- ###PROMO_TEXT### end -->
					<li class="bold">Za plačilo</li>
				</ul>
				<ul>
					<li>###SUM_TOTAL_PRICE_NO_TAX### €</li>
					<li>###TOTAL_DISCOUNT### %</li>
					<li>###SUM_TOTAL_TAX_OTHER### €</li>
					<li>###SUM_TOTAL_TAX_DEF### €</li>
					<li>###SUM_TOTAL_PRICE_NO_POSTAGE### €</li>
					<li>###POSTAGE_VAL### €</li>
					<!-- ###PROMO_FIX### begin --><li>###FIXED_DISCOUNT### €</li><!-- ###PROMO_FIX### end -->
					<li class="bold">###SUM_TOTAL_PRICE_POSTAGE### €</li>
				</ul>
				<a class="flehaPink" onClick="jQuery('#form_blagajna').attr('action','###PAYMENT_LINK###').submit();">ODDAJ NAROČILO</a>
			</div>
		</div>
	</form>
</div>
<!-- ###PRODUCTS_BASKET_CHECKOUT_TEMPLATE### begin-->

<!-- ###PRODUCTS_BASKET_LIST_TEMPLATE### begin-->
<div class="row">

	<!-- Start Main Title Block -->
	<div class="intro-block text-center">
		<h1 class="title-secondary">
			<span>Vaša</span>
			<span>košarica</span>
		</h1>
	</div>
	<!-- //End Main Title Block -->

	<!-- Start Main Content -->
	<div class="main-content col-md-12">
			<div class="table-responsive">
				<table class="table bs-table table__cart">
					<thead>
					<tr>
						<th class="cart__headers-image">Artikel</th>
						<th class="cart__headers-info">&nbsp;</th>
						<th class="cart__headers-quantity">Količina</th>
						<th class="cart__headers-price">Cena</th>
						<th class="cart__headers-discount">Popust</th>
						<th class="cart__headers-change">Odstrani</th>
					</tr>
					</thead>
					<tbody>

					<!--###BASKET_SINGLE_PRODUCT###-->
					<tr>
						<td class="cart__data-image">
							<img class="img-responsive" src="###IMAGE_THUMBNAIL_SRC###" style="max-width: 100px" alt="Artikel">
						</td>
						<td class="cart__data-info">
							<p>###PRODUCT###</p>
							<!-- ###SINGLE_PROPERTY_DISPLAY### begin--><p>Barva: ###SINGLE_PROPERTY_TITLE###</p><!-- ###SINGLE_PROPERTY_DISPLAY### end-->
							<!-- ###SINGLE_PROPERTY2_DISPLAY### begin--><p>###SINGLE_PROPERTY2_TITLE### velikost</p><!-- ###SINGLE_PROPERTY2_DISPLAY### end-->
						</td>
						<td class="cart__data-quantity">
							###PRODUCT_QUANTITY###
						</td>
						<td class="cart__data-price">
							###PRODUCT_QUANTITY### x ###PRODUCT_PRICE### € = ###PRODUCT_TOTAL_PRICE### €
						</td>
						<td class="cart__data-discount">
							-###PRODUCT_ACTION_DISCOUNT###%
						</td>
						<td class="cart__data-change">
							<div>
								<a href="#" class="art__data-change--add" title="Dodaj" role="button">+</a>
							</div>
							<div>
								<a href="#" class="art__data-change--remove" title="Odstrani" role="button">__</a>
							</div>
						</td>
					</tr>
					<!--###BASKET_SINGLE_PRODUCT###-->
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<div class="form-inline cart__voucher">
						<div class="form-group">
							<label class="cart__voucher-label">
								<a data-toggle="collapse" href="#voucher" aria-expanded="false" aria-controls="voucher">Imate promocijsko kodo?</a>
							</label>
							<div class="collapse cart__voucher-form" id="voucher">
								<input type="text" class="form-control">
								<button type="submit" class="btn">Potrdi</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="cart__summary">
						<div class="table-responsive">
							<table class="table">
								<tbody>
								<tr class="cart__summary-price1">
									<td>Cena brez DDV</td>
									<td class="text-right">###SUM_TOTAL_PRICE_NO_TAX### €</td>
								</tr>
								<tr class="cart__summary-discount">
									<td>Popust</td>
									<td class="text-right">###TOTAL_DISCOUNT### %</td>
								</tr>
								<tr class="cart__summary-tax1">
									<td>DDV 9,5 %</td>
									<td class="text-right">###SUM_TOTAL_TAX_OTHER### €</td>
								</tr>
								<tr class="cart__summary-tax2">
									<td>DDV 22 %</td>
									<td class="text-right">###SUM_TOTAL_TAX_DEF### €</td>
								</tr>
								<tr class="cart__summary-price2">
									<td>Za plačilo</td>
									<td class="text-right">###SUM_TOTAL_PRICE_NO_POSTAGE### €</td>
								</tr>
								</tbody>



							</table>
						</div>
					</div>
				</div>
			</div>
			<a href="###PAYMENT_LINK###" class="btn btn-blank btn-cart bs-margin-bottom bs-pull-right">Na blagajno</a>

	</div>
	<!-- //End Main Content -->

</div>
<!-- ###PRODUCTS_BASKET_LIST_TEMPLATE### begin-->

<!-- ###PRODUCTS_BASKET_LIST_TEMPLATE_OLD### begin-->
<form name="basket_full" id="basket_full" method="POST">
	<div class="basketIzdelki">
		<div class="basketBox radius">
			<div class="basketLineTop">
				<div class="basketIzdelek"><p>Izdelek</p></div>
				<div class="basketKolicina"><p>Količina</p></div>
				<div class="basketCena"><p>Cena</p></div>
				<div class="basketPopust"><p>Popust</p></div>
				<div class="basketSkupaj"><p>Skupaj</p></div>
			</div>
			<!--###BASKET_SINGLE_PRODUCT###-->
			<div class="basketLine">
				<div class="basketIzdelek">
					<a href="###PRODUCT_SINGLE_LINK###" title="###PRODUCT###">
						<div class="radius"><span><img src="###IMAGE_THUMBNAIL_SRC###"></span></div>
						<h1>###PRODUCT###</h1>
						<h2>###PRODUCT_SUBTITLE###</h2>
					</a>
				</div>
				<div class="basketKolicina"><input class="radius" title="Spremeni količino" maxlength="2" id="basketKolicina" type="text" name="###PRODUCT_QUANTITY_INPUT###" value="###PRODUCT_QUANTITY###"></div>
				<div class="basketCena"><p>###PRODUCT_PRICE### €</p></div>
				<div class="basketPopust"><p>###PRODUCT_ACTION_DISCOUNT### %</p></div>
				<div class="basketSkupaj"><p>###PRODUCT_TOTAL_PRICE### €</p></div>
				<div class="basketProperty">
					<!-- ###SINGLE_PROPERTY_DISPLAY### begin--><p>Barva: ###SINGLE_PROPERTY_TITLE###</p><!-- ###SINGLE_PROPERTY_DISPLAY### end-->
					<!-- ###SINGLE_PROPERTY2_DISPLAY### begin--><p>Velikost: ###SINGLE_PROPERTY2_TITLE###</p><!-- ###SINGLE_PROPERTY2_DISPLAY### end-->
				</div>
				<div class="basketZaloga">
					<!--###ZALOGAYES###--><div class="ZalogaYes">Izdelek na zalogi</div><!--###ZALOGAYES###-->
					<!--###ZALOGANO###--><div class="ZalogaNo">Izdelek ni na zalogi</div><!--###ZALOGANO###-->
				</div>
				<a href="###REMOVE_PRODUCT_LINK###" class="basketRemove">Odstrani izdelek</a>
			</div>
			<!--###BASKET_SINGLE_PRODUCT###-->
			<div class="basketOptions radius">
				<a href="" class="toIndex radius">Nadaljuj z nakupovanjem</a>
				<a href="javascript:document.getElementById('basket_full').submit();" class="flehaCrna refreshBasket radius">Osveži košarico</a>
			</div>
		</div>

		<div class="basketInfoPush">
			<a href="ostale_informacije/pogoji_poslovanja/" target="_blank" class="infoPush infoPVaren shadowH radius">
			<span><h2>100% VAREN NAKUP</h2>
			<p>Pri nas je varnost nakupa in skrb za kupce na zelo visoki ravni.</p></span>
			</a>
			<a href="ostale_informacije/dostava/" target="_blank" class="infoPush infoPDostava shadowH radius">
			<span><h2>BREZPLAČNA DOSTAVA</h2>
			<p>Z nakupom nad 20€, vam izdelke dostavimo na dom brezplačno.</p></span>
			</a>
		</div>
		<!-- ###PROMO_BEFORE### begin -->
		<div class="basketKoda radius">
			<h1>IMATE PROMOCIJSKO KODO</h1>
			<p>Če ste v katerikoli naši promocijski akciji prejeli kodo za popust, jo vnesite v spodnje okence in kliknite na gumb "Aktiviraj"</p>
			<input type="text" class="inputKoda radius" name="promoCode">
			<input type="submit" class="flehaCrna inputFlehaCrna radius" value="Aktiviraj">
		</div>
		<!-- ###PROMO_BEFORE### end -->
		<!-- ###PROMO_AFTER### begin -->
		<div class="basketKoda radius">
			<h1>PROMOCIJSKA KODA VNEŠENA</h1>
			<p>Vnesli ste promocijsko kodo za ###TOTAL_DISCOUNT###% popusta</p>
		</div>
		<!-- ###PROMO_AFTER### end -->
		<!-- ###PROMO_AFTER2### begin -->
		<div class="basketKoda radius">
			<h1>PROMOCIJSKA KODA VNEŠENA</h1>
			<p>Vnesli ste promocijsko kodo za ###FIXED_DISCOUNT###€ popusta</p>
		</div>
		<!-- ###PROMO_AFTER2### end -->
		<div class="basketBlagajna radius">
			<ul>
				<li>Cena brez DDV</li>
				<li>Popust</li>
				<li>DDV 9,5%</li>
				<li>DDV 22%</li>
				<!-- ###PROMO_TEXT### begin --><li>Kupon</li><!-- ###PROMO_TEXT### end -->
				<li>Za plačilo</li>

			</ul>
			<ul>
				<li>###SUM_TOTAL_PRICE_NO_TAX### €</li>
				<li>###TOTAL_DISCOUNT### %</li>
				<li>###SUM_TOTAL_TAX_OTHER### €</li>
				<li>###SUM_TOTAL_TAX_DEF### €</li>
				<!-- ###PROMO_FIX### begin --><li>###FIXED_DISCOUNT### €</li><!-- ###PROMO_FIX### end -->
				<li>###SUM_TOTAL_PRICE_NO_POSTAGE### €</li>
			</ul>
			<a href="###PAYMENT_LINK###" class="flehaPink">Na blagajno</a>
		</div>
	</div>
</form>
<!-- ###PRODUCTS_BASKET_LIST_TEMPLATE_OLD### end -->


<!-- ###PRODUCTS_BASKET_LIST_TEMPLATE___### begin-->
<h1>Products basket list</h1>
<div id="products_list_body_###cUID###" style="float:left;width:550px;">
	<!-- ###PRODUCTS_PAGE_TEMPLATE### begin-->
	<form name="basket_full" method="POST">
		<ul class="products_list" id="products_list_###cUID###_page_###PAGE###" style="list-style:none;float:left;width:100%;">
			<li style="text-align:right;list-style:none;margin-top:15px; float:right;width:100%;">
				<div style="margin-right:50px;">Cena</div>
				<div style="float:right;width:260px;">
					<div style="float:left;width:60px;text-align:center;font-weight:bold;">Količina</div>
					<div style="float:right;width:200px;">
						<span style="float:left;width:50px;text-align:center;font-weight:bold;">Popust</span>
						<span style="float:left;width:75px;text-align:right;font-weight:bold;">Redna</span>
						<span style="float:right;width:75px;text-align:right;font-weight:bold;">Spletna</span>
					</div>
				</div>
			</li>
			<!-- ###ITEM_FIRST###  begin-->
			<li style="border-top:1px solid black;border-bottom:1px dotted black;margin-bottom:10px;float:left;width:100%;">
				<div style="float:left">
					<div>
						<!-- ###IMAGES### begin-->
						<!-- ###IMAGE_1### begin--><a href="###IMAGE_ORIGINAL###" rel="###PRODUCT_UID###_###IMAGE_POS###" title="###CAPTION###" style="float:left;">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_1### begin-->
						<!-- ###IMAGES### end-->
						<div  style="width:340px;">
							<span style="display:block;"><a href="###PRODUCT_SINGLE_LINK###">###PRODUCT###</a></span>
							<span>###PRODUCT_SUBTITLE###</span>
							<span>###PRODUCT_PROPERTIES###</span>
							<span>###PRODUCT_CATEGORIES###</span>
							<span>###PRODUCT_STOCK###</span>
							<span style="display:block;"><br/><a href="###REMOVE_PRODUCT_LINK###">Odstrani</a></span>
						</div>
					</div>
				</div>
				<div style="float:right;width:250px;">
					<div style="float:left;width:50px;text-align:center;"><span><input type="text" name="###PRODUCT_QUANTITY_INPUT###" value="###PRODUCT_QUANTITY###" size="2"></span> ###PRODUCT_MEASURE_UNIT###</div>
					<div style="float:right;width:200px;">
						<span style="float:left;width:50px;text-align:center;">###PRODUCT_DISCOUNT###</span>
						<span style="float:left;width:150px;text-align:right;">###PRODUCT_PRICE###</span>
					</div>
				</div>
			</li>
			<!-- ###ITEM_FIRST###  end-->
			<!-- ###ITEM_1###  begin-->
			<li style="border-bottom:1px dotted black;margin-bottom:10px;width:100%; float:left;width:100%;">
				<div style="float:left">
					<div>
						<!-- ###IMAGES### begin-->
						<!-- ###IMAGE_1### begin--><a href="###IMAGE_ORIGINAL###" rel="###PRODUCT_UID###_###IMAGE_POS###" title="###CAPTION###" style="float:left;">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_1### begin-->
						<!-- ###IMAGES### end-->
						<div  style="width:340px;">
							<span style="display:block;"><a href="###PRODUCT_SINGLE_LINK###">###PRODUCT###</a></span>
							<span>###PRODUCT_SUBTITLE###</span>
							<span>###PRODUCT_PROPERTIES###</span>
							<span>###PRODUCT_CATEGORIES###</span>
							<span>###PRODUCT_STOCK###</span>
							<span style="display:block;"><br/><a href="###REMOVE_PRODUCT_LINK###">Odstrani</a></span>
						</div>
					</div>
				</div>
				<div style="float:right;width:250px;">
					<div style="float:left;width:50px;text-align:center;"><span><input type="text" name="###PRODUCT_QUANTITY_INPUT###" value="###PRODUCT_QUANTITY###" size="2"></span> ###PRODUCT_MEASURE_UNIT###</div>
					<div style="float:right;width:200px;">
						<span style="float:left;width:50px;text-align:center;">###PRODUCT_DISCOUNT###</span>
						<span style="float:left;width:150px;text-align:right;">###PRODUCT_PRICE###</span>
					</div>
				</div>
			</li>
			<!-- ###ITEM_1###  end-->
			<!-- ###ITEM_LAST###  begin-->
			<li style="border-bottom:1px solid black;width:100%; float:left;width:100%;">
				<div style="float:left">
					<div>
						<!-- ###IMAGES### begin-->
						<!-- ###IMAGE_1### begin--><a href="###IMAGE_ORIGINAL###" rel="###PRODUCT_UID###_###IMAGE_POS###" title="###CAPTION###" style="float:left;">###IMAGE_THUMBNAIL###</a><!-- ###IMAGE_1### begin-->
						<!-- ###IMAGES### end-->
						<div  style="width:340px;">
							<span style="display:block;"><a href="###PRODUCT_SINGLE_LINK###">###PRODUCT###</a></span>
							<span>###PRODUCT_SUBTITLE###</span>
							<span>###PRODUCT_PROPERTIES###</span>
							<span>###PRODUCT_CATEGORIES###</span>
							<span>###PRODUCT_STOCK###</span>
							<span style="display:block;"><br/><a href="###REMOVE_PRODUCT_LINK###">Odstrani</a></span>
						</div>
					</div>
				</div>
				<div style="float:right;width:250px;">
					<div style="float:left;width:50px;text-align:center;"><span><input type="text" name="###PRODUCT_QUANTITY_INPUT###" value="###PRODUCT_QUANTITY###" size="2"></span> ###PRODUCT_MEASURE_UNIT###</div>
					<div style="float:right;width:200px;">
						<span style="float:left;width:50px;text-align:center;">###PRODUCT_DISCOUNT###</span>
						<span style="float:left;width:150px;text-align:right;">###PRODUCT_PRICE###</span>
					</div>
				</div>
			</li>
			<!-- ###ITEM_LAST###  end-->
			<li style="text-align:right;list-style:none;margin-top:10px; float:right;width:100%;">
				<div style="float:right;width:200px;">
					<span style="font-weight:bold;margin-right:10px;"></span>###SUM_TOTAL_PRICE_NO_POSTAGE###<span style="font-weight:bold;margin-left:10px;">###SUM_TOTAL_MEMBER_PRICE_NO_POSTAGE###</span>
				</div>
				<!-- ###POSTAGE_PRICE### begin-->
				<div>Poštnina:###POSTAGE###</div>
				<div>Manjka še vam nakup v vrednosti ###PRICE_TILL_FREE_POSTAGE### do gratis poštnine.</div>
				<!-- ###POSTAGE_PRICE### end-->
				<div style="float:right;width:200px;">
					<span style="font-weight:bold;margin-right:10px;">Skupaj:</span>###SUM_TOTAL_PRICE###<span style="font-weight:bold;margin-left:10px;">###SUM_TOTAL_MEMBER_PRICE###</span>
				</div>
			</li>
		</ul>
		<div style="float:right;width:100%;text-align:right;">
			<input type="submit" name="basket_update" value="Posodobi"> <a href="###PAYMENT_LINK###"><input type="button" onclick="window.location='###PAYMENT_LINK###'" name="basket_payment" value="Na plačilo"></a>
		</div>
	</form>
	<!-- ###PRODUCTS_PAGE_TEMPLATE### END-->
</div>
<!-- ###PRODUCTS_BASKET_LIST_TEMPLATE___### end -->


<!-- ###BASKET_COMPACT_VIEW### begin-->
<!-- ###FULL_BASKET### begin-->
<a href="###BASKET_VIEW_LINK###" title="Košarica">Košarica <span>(###BASKET_PRODUCTS_COUNT###)</span></a>
<!-- ###FULL_BASKET### end-->
<!-- ###EMPTY_BASKET### begin-->
<a href="###BASKET_VIEW_LINK###" title="Košarica">Košarica <span>(0)</span></a>
<!-- ###EMPTY_BASKET### end-->
<!-- ###BASKET_COMPACT_VIEW### end-->

<!-- ###BASKET_COMPACT_POPUP_WINDOW### begin-->
<script type="text/javascript">
	var popupTimeout = null;
	var popupDuration = 4000;
	$(document).ready(function(){
		$('#basketCompactPopup').html('<p>V košarico ste dodali:</p><p><strong>###PRODUCT###</strong></p><p>Količina:1</p><p>Znesek:###PRODUCT_PRICE###</p><hr/><p>Skupni znesek naročenega:###SUM_TOTAL_PRICE###</p>');
		$('#basketCompactPopup').show();
		popupTimeout=setTimeout('hideBasketPopup()',popupDuration);
		$('#basketCompactPopup').mouseover(function(){clearTimeout(popupTimeout);});
		$('#basketCompactPopup').mouseout(function(){popupTimeout=setTimeout('hideBasketPopup()',popupDuration);});
	});
	function hideBasketPopup(){$('#basketCompactPopup').hide();}
</script>
<!-- ###BASKET_COMPACT_POPUP_WINDOW### end-->


<!-- ###BASKET_PAYMENT_PROCESS### begin-->
<!-- ###PROCESS### begin-->
<div>###PROCESS_MSG###</div>
<!-- ###PROCESS### end-->
<!-- ###ERROR### begin-->
<div>An error occurred during processing.<br/>Please correct data and retry.</div>
<div><a href="###BASKET_VIEW_LINK###">Nazaj na košarico</a></div>
<!-- ###ERROR### end-->
<!-- ###RESPONSE### begin-->
<div>
	<!-- ###RESPONSE_OK### begin-->
	Transaction completed successfully.<br/>Thank you for your order.
	<!-- ###RESPONSE_OK### end-->
	<!-- ###RESPONSE_ERROR### begin-->
	The transaction has been rejected.<br/>Please try again.
	<div><a href="###BASKET_VIEW_LINK###">Nazaj na košarico</a></div>
	<!-- ###RESPONSE_ERROR### end-->
</div>
<!-- ###RESPONSE### end-->
<!-- ###BASKET_PAYMENT_PROCESS### end-->