<!-- ###CAT_MENU_TEMPLATE### begin-->
<div class="listNavi">
    <!--<div class="titleBorder"><h2>###CAT_MENU_LVL1_PARENT###</h2><span></span></div>-->
    <p class="catMenuNaslov">###PARRENT_TITLE###</p>
    <!-- ###CAT_MENU_LVL1### begin-->
    <h2><a href="###LVL1_LINK###" title="###LVL1_TITLE###" class="###ACTIVE###">###LVL1_TITLE###</a></h2>
    <!-- ###CAT_MENU_LVL1### begin-->
</div>
<!-- ###CAT_MENU_TEMPLATE### begin-->

<!-- ###CAT_MENU_TEMPLATE### begin-->
<br/><h1>Category menu</h1>
<!-- ###CAT_MENU_ITEMS###  begin-->
<ul class="cat_level_###CATEGORY_LEVEL_CLASS###">
    <!-- ###CAT_MENU_ITEM###  begin-->
    <li><a href="###PRODUCTS_LIST_LINK###" class="###CATEGORY_CLASS###">###CATEGORY###  <!-- ###PRODUCTS_COUNT###  begin-->[###PRODUCTS_NUM###]<!-- ###PRODUCTS_COUNT###  end--> </a>###CATEGORY_CHILDS###</li>
    <!-- ###CAT_MENU_ITEM###  end-->
</ul>
<!-- ###CAT_MENU_ITEMS###  end-->
<!-- ###CAT_MENU_TEMPLATE### end -->


<!-- ###TOP_MENU### begin-->
<ul class="nav navbar-nav">
	<!-- ###TOP_MENU_LVL1### begin-->
	<li class="###ACTIVE###">
	    <a href="###LVL1_LINK###"><span>###LVL1_TITLE###</span></a>
	</li>
	<!-- ###TOP_MENU_LVL1### end-->
</ul>
<!-- ###TOP_MENU### end-->


<!-- ###PRODUCT_TITLE_TEMPLATE### begin-->
<h1>###TITLE###</h1>
<!--<p>###SUBTITLE###</p>-->
<!-- ###PRODUCT_TITLE_TEMPLATE### begin-->

<!-- ###CAT_TITLE_TEMPLATE### start -->
<p class="subpage-intro-top">###PARENT_CAT_TITLE###</p>
<h1 class="title-secondary">###CAT_TITLE###</h1>
<p class="subpage-intro-bottom">###CAT_DESC###</p>
<!-- ###CAT_TITLE_TEMPLATE### end -->

<!-- ###PRODUCTS_SPECIAL_LIST_TEMPLATE### begin-->
<div class="col-xs-6 col-md-3">
    <div class="productlist__item">
        <div class="overlay overlay-hover">
            <img src="###IMAGE###" alt="###PRODUCT###">
            <div class="overlay-panel overlay-bottom overlay-slide-bottom productlist__item_overlay">
                <a class="productlist__item_addtocart" href="###PRODUCT_SINGLE_LINK###" title="V košarico">
                    <span></span>
                    <span>V košarico</span>
                </a>
                <span class="separator"></span>
                <a class="productlist__item_details" href="###PRODUCT_SINGLE_LINK###" title="Podrobnosti">
                    <span></span>
                    <span>Podrobnosti</span>
                </a>
            </div>
        </div>
        <div class="caption productlist__item_caption">
            <p class="productlist__item_title">###PRODUCT###</p>
            
            <!--###AKCIJSKA_NONE###-->
		    <p class="productlist__item_price">###PRODUCT_PRICE###&nbsp;€</p>
		    <!--###AKCIJSKA_NONE###-->
		    <!--###AKCIJSKA_NAVADNA###-->
		    <p class="productlist__item_price">###PRODUCT_PRICE###&nbsp;€</p>
		    <!--<span class="fullPrice">###PRODUCT_PRICE###&nbsp;€</span>
			<span class="popust"><span>###PRODUCT_ACTION_DISCOUNT###% <br /></span>popust</span>-->
			<!--###AKCIJSKA_NAVADNA###-->
        </div>
    </div>
</div>
<!-- ###PRODUCTS_SPECIAL_LIST_TEMPLATE### end-->



<!-- ###CAT_MENU_WITH_PRODUCTS_TEMPLATE### begin-->
	<br/><h1>Category menu</h1>
	<!-- ###CAT_MENU_ITEMS###  begin-->
	<ul class="cat_level_###CATEGORY_LEVEL_CLASS###">
		<!-- ###CAT_MENU_ITEM###  begin-->		
		<li>
			<a href="###PRODUCTS_LIST_LINK###" class="###CATEGORY_CLASS###">###CATEGORY###</a>
			<!-- ###CATEGORY_PRODUCTS### begin-->
			<div style="padding-left:10px;">
				<!-- ###PRODUCT_ITEM### begin-->
				<span><a href="###PRODUCT_CATEGORY_LINK###" class="###PRODUCT_SELECTED###">###PRODUCT###</a></span><br/>
				<!-- ###PRODUCT_ITEM### end-->
			<div>
			<br/>
			<!-- ###CATEGORY_PRODUCTS### end-->
			###CATEGORY_CHILDS###
		</li>
		<!-- ###CAT_MENU_ITEM###  end-->
	</ul>
	<!-- ###CAT_MENU_ITEMS###  end-->
<!-- ###CAT_MENU_WITH_PRODUCTS_TEMPLATE### end -->

<!-- ###PRODUCTS_LIST_BREAD_TEMPLATE### begin-->
<ol class="breadcrumb" >
    <li><a href="">Domov</a></li>
    <!-- ###PRODUCT_BREAD_CAT### begin-->
    <li><a href="###CAT_LINK###" title="###CAT_TITLE###">###CAT_TITLE###</a></li>
    <!-- ###PRODUCT_BREAD_CAT### end-->
</ol>
<!-- ###PRODUCTS_LIST_BREAD_TEMPLATE### end-->

<!-- ###PRODUCTS_LIST_CE_TEMPLATE### begin-->
<div class="row">
    <div class="col-md-12">
        <div class="productlist__subpage-intro text-center">
           <p class="subpage-intro-top">###PARENT_CAT_TITLE###</p>
           <h1 class="title-secondary">###CAT_TITLE###</h1>
           <p class="subpage-intro-bottom">###CAT_DESC###</p>
        </div>
    </div>
</div>
<!-- ###PRODUCTS_LIST_CE_TEMPLATE### end-->

<!-- ###PRODUCTS_LIST_TEMPLATE### begin-->
<div class="col-xs-6 col-md-4">
    <div class="productlist__item">
        <div class="overlay overlay-hover">
            <img src="###IMAGE###" alt="###PRODUCT###">
            <div class="overlay-panel overlay-bottom overlay-slide-bottom productlist__item_overlay">
                <a class="productlist__item_addtocart" href="###PRODUCT_SINGLE_LINK###" title="V košarico">
                    <span></span>
                    <span>V košarico</span>
                </a>
                <span class="separator"></span>
                <a class="productlist__item_details" href="###PRODUCT_SINGLE_LINK###" title="Podrobnosti">
                    <span></span>
                    <span>Podrobnosti</span>
                </a>
            </div>
        </div>
        <div class="caption productlist__item_caption">
            <p class="productlist__item_title">###PRODUCT###</p>
            <!--###AKCIJSKA_NONE###-->
            <p class="productlist__item_price price_discount">###PRODUCT_ACTION_PRICE### €</p>
            <!--###AKCIJSKA_NONE###-->
            <!--###AKCIJSKA_NAVADNA###-->
            <p class="productlist__item_price price_discount">###PRODUCT_ACTION_PRICE### €</p>
            <span class="separator_discount"></span>
            <p class="productlist__item_price">###PRODUCT_PRICE### €</p>
            <!--###AKCIJSKA_NAVADNA###-->
        </div>
    </div>
</div>

<!-- ###PRODUCTS_LIST_TEMPLATE### end -->




<!-- ###PRODUCTS_LIST_TEMPLATE_OLD### end -->
<a href="###PRODUCT_SINGLE_LINK###" title="###PRODUCT###" class="shadowH productListItem">
    <div><span><img src="###IMAGE###" alt="###PRODUCT###"></span></div>
    <span class="listH1">###PRODUCT###</span>
    <p>###PRODUCT_SUBTITLE###</p>

    <!--###VRSTA_CAJA_NONE###-->
    <h2 class="color_###CAT_UID###">###VRSTA_CAJA###</h2>
    <!--###VRSTA_CAJA_NONE###-->

    <!--###MESEC_CAJA_NONE###-->
    <h4 class="color_###CAT_UID###">###MESEC_CAJA###</h4>
    <!--###MESEC_CAJA_NONE###-->

    <!--###BIOSTICKER_NONE###-->
    <span class="bioSticker"><img src="fileadmin/template/images/biosticker.png" /></span>
    <!--###BIOSTICKER_NONE###-->

    <!--###AKCIJSKA_NONE###-->
    <h3>Vaša cena:<span>###PRODUCT_PRICE###&nbsp;€</span></h3>
    <!--###AKCIJSKA_NONE###-->
    <!--###AKCIJSKA_NAVADNA###-->
    <h3>Vaša cena:<span>###PRODUCT_ACTION_PRICE###&nbsp;€</span></h3>
    <span class="fullPrice">###PRODUCT_PRICE###&nbsp;€</span>
    <span class="popust"><span>###PRODUCT_ACTION_DISCOUNT###% <br /></span>popust</span>
    <!--###AKCIJSKA_NAVADNA###-->
    <span class="triangle color_###CAT_UID###"></span>
</a>
<!-- ###PRODUCTS_LIST_TEMPLATE_OLD### end -->


<!-- ###PRODUCTS_SINGLE_TEMPLATE### begin-->

<div class="main product">

    <div class="container">

        <div class="row row-separator"></div>

        <!-- Start Main Content -->
        <div class="row main-content gallery-thumbs">

            <!-- Product Info Block -->
            <div class="col-xs-12 col-sm-5 col-sm-push-7 col-md-5 col-md-push-7 product-info">
                <p class="product-brand text-small text-uppercase">TODO: Ime firme produkta</p>
                <h2 class="product-title">###TITLE###</h2>
                <div class="product-price">
                    <!-- ###PRIZE_WRAP### begin-->
                    <meta itemprop="currency" content="EUR" />
                    <p class="productpage__item_price ###AKCIJSKA_YES###"><span itemprop="price">###PRODUCT_PRICE##</span># €</p>
                    <p class="productpage__item_price ###AKCIJSKA_NO###"><span itemprop="price">###PRODUCT_ACTION_PRICE###</span> €</p>
                    <!-- ###PRIZE_WRAP### end-->

                    <span class="separator_product"></span>
                    <p class="productpage__item_price text-small text-uppercase">Na zalogi</p>
                </div>
                <div class="product-select">
                    <form class="bs-pull-left">
                        <select class="selectpicker">
                            <option>Izberi velikost</option>
                            <option>XS</option>
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                            <option>XL</option>
                            <option>XXL</option>
                        </select>
                    </form>
                    <button class="btn btn-default add-to-cart">Dodaj v košarico</button>
                    <!-- ###ADD_TO_BASKET### begin-->
                    <div id="prizeWrap" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
                        <!-- ###PRIZE_WRAP### begin-->
                        <meta itemprop="currency" content="EUR" />
                        <p class="singlePrice ###AKCIJSKA_YES###">Cena: <span><span itemprop="price">###PRODUCT_PRICE###</span>€</span></p>
                        <p class="singlePrice ###AKCIJSKA_NO###">Cena: <span><span itemprop="price">###PRODUCT_ACTION_PRICE###</span>€</span></p>
                        <!-- ###PRIZE_WRAP### end-->
                    </div>



                    <!-- ###MULTIE_PROPERTIES2### begin-->
                    <!-- ###NO_MONO_PROPERTIES2### begin-->
                    <div class="singlePriceSelect">
                        <select class="validate[required] radius" id="prop2">
                            <!-- ###SINGLE_PROPERTIES2### begin-->
                            <option value="###SINGLE_PROPERTY_UID###">###SINGLE_PROPERTY2_TITLE###</option>
                            <!-- ###SINGLE_PROPERTIES2### end -->
                        </select>
                    </div>
                    <!-- ###NO_MONO_PROPERTIES2### end-->
                    <!-- ###MONO_PROPERTIES2### begin-->
                    <div class="oneColor">###SINGLE_PROPERTY2_TITLE###</div>
                    <input type="hidden" id="prop2mono" value="###SINGLE_PROPERTY_UID###">
                    <!-- ###MONO_PROPERTIES2### end-->
                    <!-- ###MULTIE_PROPERTIES2### end-->


                    <a name="addToBasket" rel="###UID###" class="addToBasket" onmousedown="$('#singleForm').validationEngine('validate')"><img src="fileadmin/template/images/addToBasket.png" /></a>
                    <input type="hidden" id="prod_uid" value="###UID###">
                    <p class="addToBasketDDV">Vse cene že vsebujejo DDV</p>
                    <!-- ###ADD_TO_BASKET### end-->
                </div>
                <div class="product-links">
                    <a class="product-link-fav" href="#" title="Dodaj izdelek med priljubljene">Priljubljen</a>
                    <a class="product-link-help" href="#" title="Pomoč">Pomoč</a>
                    <a class="product-link-comments" href="#" title="Komentiraj izdelek">Komentarji</a>
                </div>
                <div class="product-description">
                    ###DESCRIPTION###
                    <p>TODO: Št. artikla: 166362_19</p>
                </div>
            </div>

            <!-- Main Image -->
            <div class="col-xs-12 col-sm-5 col-sm-pull-3 col-md-6 col-md-pull-4 product-image">
                <div class="item overlay" data-src="images/izdelki/izdelek_3.jpg">
                    <img class="img-responsive" src="images/izdelki/izdelek_3.jpg" alt="Izdelek">
                    <div class="img-overlay-panel img-overlay-background">
                        <!-- Optional icon on hover
                        <i class="fa fa-search fa-4x"></i>
                        -->
                    </div>
                </div>

                <!-- Social Icons -->
                <div class="social-icons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.abubu.si" data-via="abubu">Tweet</a>
                    <a href="https://www.pinterest.com/pin/create/button/">
                        <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" alt="Pinterest">
                    </a>
                    <div class="fb-like" data-href="http://www.abubu.si" data-layout="button_count" data-action="like" data-show-faces="true"></div>
                    <div class="fb-share-button" data-href="http://www.abubu.si" data-layout="button_count"></div>
                    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                </div>

            </div>

            <!-- Thumbnail Images -->
            <div class="col-xs-12 col-sm-2 col-sm-pull-10 col-md-1 col-md-pull-11 product-thumbs">
                <div class="row">
                    <div class="col-xs-4 col-sm-12 item" data-src="images/izdelki/izdelek_1.jpg">
                        <img class="img-responsive" src="images/izdelki/izdelek_1.jpg" alt="Izdelek">
                    </div>
                    <div class="col-xs-4 col-sm-12 item item" data-src="images/izdelki/izdelek_2.jpg">
                        <img class="img-responsive" src="images/izdelki/izdelek_2.jpg" alt="Izdelek">
                    </div>
                </div>
            </div>

        </div>
        <!-- //End Main Content -->

        <!-- ###CONNECTED_PRODUCTS_NONE### begin-->
        <div class="row favorite-products">
            <div class="col-xs-12 text-center">
                <h3 class="title-secondary">Priljubljeni produkti</h3>
            </div>
            ###CONNECTED_PRODUCTS###
        </div>
        <!-- ###CONNECTED_PRODUCTS_NONE### end-->

        <div class="row favorite-products">

            <div class="col-xs-12 text-center">
                <h3 class="title-secondary">Priljubljeni produkti</h3>
            </div>

            <div class="col-xs-6 col-md-2">
                <div class="productlist__item">
                    <div class="overlay overlay-hover">
                        <img src="images/izdelki/izdelek_3.jpg" alt="Majica z dolgimi rokavi za dečke Ninja Želva" class="img-responsive">
                        <div class="overlay-panel overlay-bottom overlay-slide-bottom productlist__item_overlay">
                            <a class="productlist__item_addtocart" href="#" title="V košarico">
                                <span></span>
                                <span>V košarico</span>
                            </a>
                            <a class="productlist__item_details" href="#" title="Podrobnosti">
                                <span></span>
                                <span>Podrobnosti</span>
                            </a>
                        </div>
                    </div>
                    <div class="caption productlist__item_caption">
                        <p class="productlist__item_title">Majica z dolgimi rokavi za dečke Ninja Želva</p>
                        <p class="productlist__item_price">14,90 €</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <div class="productlist__item">
                    <div class="overlay overlay-hover">
                        <img src="images/izdelki/izdelek_3.jpg" alt="Majica z dolgimi rokavi za dečke Ninja Želva" class="img-responsive">
                        <div class="overlay-panel overlay-bottom overlay-slide-bottom productlist__item_overlay">
                            <a class="productlist__item_addtocart" href="#" title="V košarico">
                                <span></span>
                                <span>V košarico</span>
                            </a>
                            <a class="productlist__item_details" href="#" title="Podrobnosti">
                                <span></span>
                                <span>Podrobnosti</span>
                            </a>
                        </div>
                    </div>
                    <div class="caption productlist__item_caption">
                        <p class="productlist__item_title">Majica z dolgimi rokavi za dečke Ninja Želva</p>
                        <p class="productlist__item_price price_discount">2,90 €</p>
                        <span class="separator_discount"></span>
                        <p class="productlist__item_price">14,90 €</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <div class="productlist__item">
                    <div class="overlay overlay-hover">
                        <img src="images/izdelki/izdelek_3.jpg" alt="Majica z dolgimi rokavi za dečke Ninja Želva" class="img-responsive">
                        <div class="overlay-panel overlay-bottom overlay-slide-bottom productlist__item_overlay">
                            <a class="productlist__item_addtocart" href="#" title="V košarico">
                                <span></span>
                                <span>V košarico</span>
                            </a>
                            <a class="productlist__item_details" href="#" title="Podrobnosti">
                                <span></span>
                                <span>Podrobnosti</span>
                            </a>
                        </div>
                    </div>
                    <div class="caption productlist__item_caption">
                        <p class="productlist__item_title">Majica z dolgimi rokavi za dečke Ninja Želva</p>
                        <p class="productlist__item_price">14,90 €</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <div class="productlist__item">
                    <div class="overlay overlay-hover">
                        <img src="images/izdelki/izdelek_3.jpg" alt="Majica z dolgimi rokavi za dečke Ninja Želva" class="img-responsive">
                        <div class="overlay-panel overlay-bottom overlay-slide-bottom productlist__item_overlay">
                            <a class="productlist__item_addtocart" href="#" title="V košarico">
                                <span></span>
                                <span>V košarico</span>
                            </a>
                            <a class="productlist__item_details" href="#" title="Podrobnosti">
                                <span></span>
                                <span>Podrobnosti</span>
                            </a>
                        </div>
                    </div>
                    <div class="caption productlist__item_caption">
                        <p class="productlist__item_title">Majica z dolgimi rokavi za dečke Ninja Želva</p>
                        <p class="productlist__item_price">14,90 €</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <div class="productlist__item">
                    <div class="overlay overlay-hover">
                        <img src="images/izdelki/izdelek_3.jpg" alt="Majica z dolgimi rokavi za dečke Ninja Želva" class="img-responsive">
                        <div class="overlay-panel overlay-bottom overlay-slide-bottom productlist__item_overlay">
                            <a class="productlist__item_addtocart" href="#" title="V košarico">
                                <span></span>
                                <span>V košarico</span>
                            </a>
                            <a class="productlist__item_details" href="#" title="Podrobnosti">
                                <span></span>
                                <span>Podrobnosti</span>
                            </a>
                        </div>
                    </div>
                    <div class="caption productlist__item_caption">
                        <p class="productlist__item_title">Majica z dolgimi rokavi za dečke Ninja Želva</p>
                        <p class="productlist__item_price price_discount">2,90 €</p>
                        <span class="separator_discount"></span>
                        <p class="productlist__item_price">14,90 €</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-2">
                <div class="productlist__item">
                    <div class="overlay overlay-hover">
                        <img src="images/izdelki/izdelek_3.jpg" alt="Majica z dolgimi rokavi za dečke Ninja Želva" class="img-responsive">
                        <div class="overlay-panel overlay-bottom overlay-slide-bottom productlist__item_overlay">
                            <a class="productlist__item_addtocart" href="#" title="V košarico">
                                <span></span>
                                <span>V košarico</span>
                            </a>
                            <a class="productlist__item_details" href="#" title="Podrobnosti">
                                <span></span>
                                <span>Podrobnosti</span>
                            </a>
                        </div>
                    </div>
                    <div class="caption productlist__item_caption">
                        <p class="productlist__item_title">Majica z dolgimi rokavi za dečke Ninja Želva</p>
                        <p class="productlist__item_price">14,90 €</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-separator"></div>

    </div>

</div>

<!-- ###PRODUCTS_SINGLE_TEMPLATE### end -->

<!-- ###PRODUCTS_SINGLE_TEMPLATE_OLD### start -->

<div class="subSingle" itemscope itemtype="http://data-vocabulary.org/Product">
	<div id="singleNextPrev" class="singleNextP">
        <a href="###PREV_ITEM###" title="Prejšni izdelek" class="prev radius shadowH"></a>
        <a href="###NEXT_ITEM###" title="Naslednji izdelek" class="next radius shadowH"></a>
    </div>
    <h1 itemprop="name">###TITLE###</h1>
    
      <script type="text/javascript"> 
                $(document).ready(function(){
                $("#featured3").tabs(
                      {event: 'mouseover'}).tabs(
                      { fx: [{opacity: 'fadeOut', duration: 'slow'},
                      {opacity: 'toggle', duration: 'fast'}] }).tabs(
                     'rotate', 5000, true);
                }
				);
            </script>
            <script type="text/javascript">
				function show(Id) {
				document.getElementById(Id).style.display="block";
				}
				function hide(Id) {
				document.getElementById(Id).style.display="none";
				}
				$( document ).ready(function() {
					document.getElementById("fbComments").innerHTML = "<div class='fb-comments' data-href='"+document.URL+"' data-numposts='5'></div>";
				});			
			</script>
            <div id="featured3">
            	<!--###MESEC_CAJA_NONE###-->
                <div class="cajMesecaSingle color_###CAT_UID###">###MESEC_CAJA###</div>
                <!--###MESEC_CAJA_NONE###-->
            	<!--###AKCIJSKA_NAVADNA###--><span class="popust"><span>###PRODUCT_ACTION_DISCOUNT###% <br /></span>popust</span><!--###AKCIJSKA_NAVADNA###-->
                <ul class="ui-tabs-nav ###ONLY1###">
					<!-- ###PRODUCT_IMAGES_SMALL### begin-->
                    <li class="ui-tabs-nav-item shadowH" id="nav-fragment-###IMG_FRAGMENT_ID###"><a href="#fragment-###IMG_FRAGMENT_ID###"><img src="###PRODUCT_IMAGE_SMALL_SRC###"></a></li>                   
					<!-- ###PRODUCT_IMAGES_SMALL### end-->
				</ul>
				<!-- ###PRODUCT_IMAGES_BIG### begin-->
                <div id="fragment-###IMG_FRAGMENT_ID###" class="ui-tabs-panel shadowH ui-tabs-hide" >
                    <div class="info">
                        <a href="###PRODUCT_IMAGE_BIG_SRC###" rel="rzcolorbox" title="" class="rzcolorbox cboxElement"><img itemprop="image" alt="###TITLE###" src="###PRODUCT_IMAGE_BIG_SRC###"></a>
					</div>
                </div>
				<!-- ###PRODUCT_IMAGES_BIG### end-->
            </div>
            
            <form id="singleForm">
            <div class="singleVsebina">            	
                <div class="singleOpis" itemprop="description">###DESCRIPTION###</div>
                
                <!-- ###MULTIE_PROPERTIES### begin-->
				<!-- ###NO_MONO_PROPERTIES### begin-->
				<div class="singleSelect radius">
                    <select class="validate[required] radius" id="prop1">
                        <option value="">Izberi barvo:</option>
                        <!-- ###SINGLE_PROPERTIES### begin-->
                         <option value="###SINGLE_PROPERTY_UID###">###SINGLE_PROPERTY_TITLE###</option>
                        <!-- ###SINGLE_PROPERTIES### end -->
                    </select>
				</div>
				<!-- ###NO_MONO_PROPERTIES### end-->
				<!-- ###MONO_PROPERTIES### begin-->
				<div class="oneColor">###SINGLE_PROPERTY_TITLE###</div>
				<input type="hidden" id="prop1mono" value="###SINGLE_PROPERTY_UID###">
				<!-- ###MONO_PROPERTIES### end-->
				<!-- ###MULTIE_PROPERTIES### end-->
                
                
                
                <!--###NO_DELIVERY_TIME###--><div class="singleDostava">Dostava ###DELIVERY_TIME### dni</div><!--###NO_DELIVERY_TIME###-->
                <div class="singleInfoLinks">
                	<a href="http://www.zisha.si/dostava/" target="_blank">Dostava : </a> 
                    <a href="http://www.zisha.si/pogoji_poslovanja/" target="_blank">Plačila</a>
                    <!--###ZALOGAYES###--><div class="singleZalogaYes"><span itemprop="availability" content="in_stock">Na zalogi</span></div><!--###ZALOGAYES###-->
                    <!--###ZALOGANO###--><div class="singleZalogaNo">Ni na zalogi</div><!--###ZALOGANO###-->
                </div>
                
                <!-- ###SHOW_TESTER### begin-->
                <div class="checkTester"><a name="addSampleToBasket" rel="###UID###" class="addToBasketTester"><img src="fileadmin/template/images/zelim-tester.png" /></a><p class="addToBasketSpodaj">Vzorec čaja 5g prejmete ob vsakem nakupu. <a href="http://www.zisha.si/brezplacen_vzorcek_caja/">VEČ >></a></p></div>
				<!-- ###SHOW_TESTER### end-->
                
            </div>
            
            <div class="singleCena">
                <!-- ###ADD_TO_BASKET### begin-->
				<div id="prizeWrap" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
					<!-- ###PRIZE_WRAP### begin-->
					<meta itemprop="currency" content="EUR" />
					<p class="singlePrice ###AKCIJSKA_YES###">Cena: <span><span itemprop="price">###PRODUCT_PRICE###</span>€</span></p>
					<p class="singlePrice ###AKCIJSKA_NO###">Cena: <span><span itemprop="price">###PRODUCT_ACTION_PRICE###</span>€</span></p>
					<!-- ###PRIZE_WRAP### end-->
				</div>
        
        
               
				<!-- ###MULTIE_PROPERTIES2### begin-->
				<!-- ###NO_MONO_PROPERTIES2### begin-->
				<div class="singlePriceSelect">
                    <select class="validate[required] radius" id="prop2">
                        <!-- ###SINGLE_PROPERTIES2### begin-->
                         <option value="###SINGLE_PROPERTY_UID###">###SINGLE_PROPERTY2_TITLE###</option>
                        <!-- ###SINGLE_PROPERTIES2### end -->
                    </select>
				</div>
				<!-- ###NO_MONO_PROPERTIES2### end-->
				<!-- ###MONO_PROPERTIES2### begin-->
				<div class="oneColor">###SINGLE_PROPERTY2_TITLE###</div>
				<input type="hidden" id="prop2mono" value="###SINGLE_PROPERTY_UID###">
				<!-- ###MONO_PROPERTIES2### end-->
				<!-- ###MULTIE_PROPERTIES2### end-->
				
				
                <a name="addToBasket" rel="###UID###" class="addToBasket" onmousedown="$('#singleForm').validationEngine('validate')"><img src="fileadmin/template/images/addToBasket.png" /></a>
				<input type="hidden" id="prod_uid" value="###UID###">
                <p class="addToBasketDDV">Vse cene že vsebujejo DDV</p>
                <!-- ###ADD_TO_BASKET### end-->
                
                <div class="voting">
                	
                    <div id="r###UID###" class="rate_widget">
                        <div class="star_1 ratings_stars"></div>
                        <div class="star_2 ratings_stars"></div>
                        <div class="star_3 ratings_stars"></div>
                        <div class="star_4 ratings_stars"></div>
                        <div class="star_5 ratings_stars"></div>
                        <div class="total_votes" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
											    <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
											      Ocena <span itemprop="average">###NUM_VOTES###</span>
											      od <span itemprop="best">5</span>
											    </span>
											    št. glasov <span itemprop="votes">###ALL_VOTES###</span> ratings.
											  </div>
                    </div>
                    <p>Oceni:</p>
                </div>
                
            </div>
            </form>
            
        </div>
    
        <!-- ###DESCRIPTION2_NONE### begin-->
        <div class="subSingleOpis2">
        	<div class="opis">###DESCRIPTION2###</div>
        </div>
        <!-- ###DESCRIPTION2_NONE### end-->
        
        
        
        <!-- ###CONNECTED_PRODUCTS_NONE### begin-->
        <div class="connectedProductList productList" style="padding-top:30px;">
        	<div class="titleBorder titleBorderList"><h1>Priporočamo še ogled naslednjih izdelkov</h1><span></span></div>
			###CONNECTED_PRODUCTS###
        </div>
        <!-- ###CONNECTED_PRODUCTS_NONE### end-->
        
        <div class="titleBorder titleBorderList" style="margin-bottom:20px;"><h1>Komentiraj zgornji izdelek</h1><span></span></div>
        <div id="fbComments"></div>       
        
        
        
<!-- ###PRODUCTS_SINGLE_TEMPLATE_OLD### end -->

<!-- ###PRODUCTS_PROPERTIES_TEMPLATE### begin-->
	<div>Filter:</div>
	<!-- ###PROPERTIES_ITEMS### begin-->
	<ul class="properties_level_###PROPERTY_LEVEL_CLASS###">
		<!-- ###PROPERTIES_PARRENT### begin-->		
		<li class="###PROPERTY_CLASS###"><a name="products_filter_parrent[]" rel="###CHILD_PROPERTIES_LIST###">###PROPERTY###</a> ###PROPERTY_CHILDS###</li>
		<!-- ###PROPERTIES_PARRENT### end-->
		<!-- ###PROPERTIES_CHILD### begin-->		
		<li class="###PROPERTY_CLASS###"><input type="checkbox" name="products_filter[]" value="###PROPERTY_UID###"/>###PROPERTY### ###PROPERTY_CHILDS###</li>
		<!-- ###PROPERTIES_CHILD### end-->
	</ul>
	<!-- ###PROPERTIES_ITEMS### end-->
	<br/>
<!-- ###PRODUCTS_PROPERTIES_TEMPLATE### end-->



<!-- ###PROPERTY3_MENU_TEMPLATE### begin-->
<div class="listNavi">
<p class="catMenuNaslov">Izberi glede na lokacijo in način pridelave</p>
<!-- ###CAT_MENU_LVL1### begin-->
<h2 class="###CAT_MENU_LVL1_EMPTY###"><a href="###LVL1_LINK###" title="###LVL1_TITLE###" class="###ACTIVE###">###LVL1_TITLE###</a></h2>
<!-- ###CAT_MENU_LVL1### begin-->
</div>
<!-- ###PROPERTY3_MENU_TEMPLATE### begin-->

<!-- ###PROPERTY4_MENU_TEMPLATE### begin-->
<div class="listNavi">
<p class="catMenuNaslov">Izberi glede na sestavino</p>
<!-- ###CAT_MENU_LVL1### begin-->
<h2 class="###CAT_MENU_LVL1_EMPTY###"><a href="###LVL1_LINK###" title="###LVL1_TITLE###" class="###ACTIVE###">###LVL1_TITLE###</a></h2>
<!-- ###CAT_MENU_LVL1### begin-->
</div>
<!-- ###PROPERTY4_MENU_TEMPLATE### begin-->

















