<table class="typo3-TCEforms">
	<tbody>
    	<tr>
        	<td colspan="2">
            	<table border="3" cellspacing="0" cellpadding="0" width="100%" class="wrapperTable1">
                	<tbody>
                    	<tr class="class-main12" style="border-bottom:2px solid #FFF;">
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14"><strong>ID Naročila:</strong></span></td>
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14"><strong>Datum Naročila:</strong></span></td>
                            <td colspan="5" style="padding:0px 10px;"><span class="class-main14"><strong>Plačnik:</strong></span></td>
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14"><strong>Način plačila:</strong></span></td>
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14"><strong>Status:</strong></span></td> 
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14"><strong>Povezava:</strong></span></td> 
                        </tr>
					</tbody>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" width="100%" class="wrapperTable1">
                	<tbody>        
                        <tr class="class-main11" style="border-bottom:1px solid #FFF;">
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14">27</span></td>
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14">11.1.2013</span></td>
                            <td colspan="5" style="padding:0px 10px;"><span class="class-main14">mitja.venturini@gmail.com </span></td>
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14">Po povzetju</span></td>
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14">V postopku</span></td>
                            <td colspan="3" style="padding:0px 10px;"><span class="class-main14"><a href="" style="text-decoration:underline;">Poglej</a></span></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>    
    </tbody>
</table>




<!--*****************************************************************************************-->
<table class="typo3-TCEforms">
	<tbody>
    	<tr>
        	<td colspan="2">
            	<table border="0" cellspacing="0" cellpadding="0" width="100%" class="wrapperTable1">
                	<tbody>
                    	<tr class="class-main12">
                            <td colspan="2" class="formField-header"><span style="font-size:13px;" class="class-main14"><strong>ID Naročila: ###IDNAROČILA###</strong></span></td>
                        </tr>
                        
                        <tr class="class-main11">
                            <td colspan="2" nowrap="nowrap" valign="top">
                            	<fieldset class="t3-form-palette-fieldset">
                                	<span class="t3-form-palette-field-container">
                                		<label class="t3-form-palette-field-label class-main13">Datum naročila:</label>
                                    	<input type="text" id="" class="formField1 tceforms-textfield tceforms-datefield hasDefaultValue" name="" value="" style="width: 77px;">
                                    </span>
                                    <span class="t3-form-palette-field-container">
                                        <label class="t3-form-palette-field-label class-main13">Datum posiljke:</label>
                                        <input type="text" id="" class="formField1 tceforms-textfield tceforms-datefield hasDefaultValue" name="" value="" style="width: 77px;">
                                    </span>
                                    <span class="t3-form-palette-field-container">
                                        <label class="t3-form-palette-field-label class-main13">Status:</label>
                                        <span class="t3-form-palette-field class-main15">
                                            <select id="" name="" class="select" >
                                                <option value="0" selected="selected">V postopku</option>
                                                <option value="1">Poslano</option>
                                                <option value="2">Prejeto</option>
                                            </select>
                                        </span>
                                    </span>
                                    <span class="t3-form-palette-field-container">
                                        <label class="t3-form-palette-field-label class-main13">Način plačila:</label>
                                        <input type="text" id="" class="formField1 tceforms-textfield tceforms-datefield hasDefaultValue" name="" value="###NAČINA_PLAČILA###" style="width:107px;">
                                    </span>
                               </fieldset>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </td>
        </tr>
        
        <tr>
        	<td colspan="2">
            	<table border="0" cellspacing="0" cellpadding="0" width="100%" class="wrapperTable1">
                	<tbody>
                    
                    	<tr class="class-main12">
                            <td colspan="2" class="formField-header"><span style="font-size:13px;" class="class-main14"><strong>Naročeni izdelki</strong></span></td>
                        </tr>
                        
                    	<tr class="class-main12">
                            <td colspan="4" style="padding:0px 10px;"><span class="class-main14"><strong>IZDELEK:</strong></span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14"><strong>Količina:</strong></span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14"><strong>Barva:</strong></span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14"><strong>Cena:</strong></span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14"><strong>Popust:</strong></span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14"><strong>Skupaj:</strong></span></td>                            
                        </tr>
                        
                        <!--SINGLE-->
                        <tr class="class-main12">
                            <td colspan="4" style="padding:0px 10px;"><span class="class-main14">OKVIR KOVINSKI, WN318S "HANNA 8", 13 x 18 cm</span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14">4</span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14">zelen</span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14">180 €</span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14">20 %</span></td>
                            <td colspan="2" style="padding:0px 10px;"><span class="class-main14">200 €</span></td>                            
                        </tr>
                        <!--SINGLE-->
                                                
                    </tbody>
                </table>
            </td>
        </tr>
        
        <tr>
        	<td colspan="2">
            	<table border="0" cellspacing="0" cellpadding="0" width="100%" class="wrapperTable1">
                	<tbody>
                    
                    	<tr class="class-main12">
                            <td colspan="2" class="formField-header"><span style="font-size:13px;" class="class-main14"><strong>Naročnik in prejemnik</strong></span></td>
                        </tr>
                        
                    	<tr class="class-main12">
                            <td colspan="8" style="padding:0px 10px;"><span class="class-main14"><strong>Naročnik:</strong></span></td>
                            <td colspan="8" style="padding:0px 10px;"><span class="class-main14"><strong>Drug prejemnik:</strong></span></td>                         
                        </tr>
                        
                        <tr class="class-main12">
                            <td colspan="8" style="padding:0px 10px;">
                            	<span class="class-main14">
                                	###BUYER_NAME### ###BUYER_SURNAME###<br>
                                    ###BUYER_TEL###<br>
                                    ###BUYER_EMAIL###<br>
                                    ###BUYER_ADDRESS###<br>
                                    ###BUYER_POST### ###BUYER_CITY###<br>
                                    ###COMPANY###<br>
                                    ###ID_DDV###<br>                                	
                                </span>
                            </td>
                            <td colspan="8" style="padding:0px 10px;">
                            	<span class="class-main14">
                                	###RECIVER_NAME### ###RECIVER_SURNAME###<br>
                                    ###RECIVER_ADDRESS###<br>
                                    ###RECIVER_POST### ###RECIVER_CITY###<br>                              	
                                </span>
                            </td>                       
                        </tr>
                                                
                    </tbody>
                </table>
            </td>
        </tr>
        
        
        <tr>
        	<td colspan="2">
            	<table border="0" cellspacing="0" cellpadding="0" width="100%" class="wrapperTable1">
                	<tbody>
                    
                    	<tr class="class-main12">
                            <td colspan="2" class="formField-header"><span class="class-main14">Cena brez DDV: <strong>4,80 €</strong></span></td>
                        </tr>
                        <tr class="class-main12">
                            <td colspan="2" class="formField-header"><span class="class-main14">Popust: <strong>20%</strong></span></td>
                        </tr>
                        <tr class="class-main12">
                            <td colspan="2" class="formField-header"><span class="class-main14">DDV 20%: <strong>4,80 €</strong></span></td>
                        </tr>
                        <tr class="class-main12">
                            <td colspan="2" style="font-size:13px;" class="formField-header"><span class="class-main14">Skupaj: <strong>4,80 €</strong></span></td>
                        </tr>
                                                                        
                    </tbody>
                </table>
            </td>
        </tr>        
    </tbody>
</table>