<!--

S=&#352;

s=&#353;

Z=&#381;

z=&#382;

C=&#268;

c=&#269;

-->

<!-- ###TMAIL_FORM### begin -->
<script type="text/javascript">
	jQuery(document).ready(function() {
	jQuery("#povprasevanje").validationEngine({promptPosition : "topRight", scroll: false})
	});
</script>
<form action="###FORM_URL###" method="post" id="povprasevanje" class="povprasevanjeGlavni" enctype="multipart/form-data"> 
            <div class="povprasevanjeInputBox">
                <label class="tx_spbettercontact_label">Va&#353;e ime:</label>
                <div class="povprasevanjeInput">
					<input type="text" name="tx_pilmailform_pi1[text][name]" value="###NAME_VAL###" id="ime" class="validate[required,length[0,200]] input_box" />
                </div>
            </div>
            <div class="povprasevanjeInputBox">
                <label class="tx_spbettercontact_label">Va&#353;a e-po&#353;ta:</label>
                <div class="povprasevanjeInput">
					<input type="text" name="tx_pilmailform_pi1[text][email]" value="###EMAIL_VAL###" id="email" class="validate[required,custom[email]] input_box" />
                </div>
            </div>
            <div class="povprasevanjeInputBox">
                <label class="tx_spbettercontact_label">Vpi&#353;ite vpra&#353;anje:</label>
                <div class="povprasevanjeTextArea">
                    <textarea name="tx_pilmailform_pi1[textarea][message]">###MESSAGE_VAL###</textarea>
                </div>
            </div>
            <input type="image" src="fileadmin/template/images/povprasevanjePosljiGumb.gif" name="tx_pilmailform_pi1[submit]" value="###_LL_LABEL_SUBMIT###" class="povprasevanjeSubmit" />
	</form>
<!-- ###TMAIL_FORM### end -->




<!-- ###TMAIL_MAIL### begin -->
This message was sent using the TMailform extension

Date:			###_DATE###
Time:			###_TIME###
Page:			###_PAGE### (id: ###_PID###)
Site:			###_SITE###
Path:			###_PATH###
Client IP:		###_IP###

# Name:			###NAME_VAL###
# Email address:	###EMAIL_VAL###
# User type:		###USER_TYPE_VAL###
# Typo3 level:		###LEVEL_VAL###
# Job description:	###JOB_DESCRIPTION_VAL###

# Message:

###MESSAGE_VAL###
<!-- ###TMAIL_MAIL### end -->

<!-- ###TMAIL_MAIL_HTML### begin -->
<h3>Sporo&#269;ilo poslano iz spletne strani www.hrastnik.si.</h3>
<table cellspacing="1" cellpadding="4" style="background: #333333;">
	<tr>
		<td style="background: #336699; color: #ffffff; font-weight: bold;">Ime</td>
		<td style="background: #ffffff;">###NAME_VAL###</td>
	</tr>
	<tr>
		<td style="background: #336699; color: #ffffff; font-weight: bold;">E-mail</td>
		<td style="background: #ffffff;">###EMAIL_VAL###</td>
	</tr>
	<tr>
		<td style="background: #336699; color: #ffffff; font-weight: bold;">Vpra&#353;anje</td>
		<td style="background: #ffffff;">###MESSAGE_VAL###</td>
	</tr>
</table>
<!-- ###TMAIL_MAIL_HTML### end -->





<!-- ###TMAIL_MAIL_USERCOPY### begin -->
Hello,

We have recieved the following information from you:

Name:			###NAME_VAL###
Email address:		###EMAIL_VAL###
User type:		###USER_TYPE_VAL###
User level:		###LEVEL_VAL###
Job description:	###JOB_DESCRIPTION_VAL###

Message:

###MESSAGE_VAL###

-- 
Regards
TMailform Team
<!-- ###TMAIL_MAIL_USERCOPY### end -->

<!-- ###TMAIL_MAIL_USERCOPY_HTML### begin -->
<h3>This message was sent using the TMailform extension</h3>
<p>This is a copy of your message</p>
<table cellspacing="1" cellpadding="4" style="background: #333333;">
	<tr>
		<td style="background: #336699; color: #ffffff; font-weight: bold;">Name</td>
		<td style="background: #ffffff;">###NAME_VAL###</td>
	</tr>
	<tr>
		<td style="background: #336699; color: #ffffff; font-weight: bold;">E-mail</td>
		<td style="background: #ffffff;">###EMAIL_VAL###</td>
	</tr>
	<tr>
		<td style="background: #336699; color: #ffffff; font-weight: bold;">User type</td>
		<td style="background: #ffffff;">###USER_TYPE_VAL###</td>
	</tr>
	<tr>
		<td style="background: #336699; color: #ffffff; font-weight: bold;">Typo3 level</td>
		<td style="background: #ffffff;">###LEVEL_VAL###</td>
	</tr>
	<tr>
		<td style="background: #336699; color: #ffffff; font-weight: bold;">Job description</td>
		<td style="background: #ffffff;">###JOB_DESCRIPTION_VAL###</td>
	</tr>
	<tr>
		<td style="background: #336699; color: #ffffff; font-weight: bold;">Your message</td>
		<td style="background: #ffffff;">###MESSAGE_VAL###</td>
	</tr>
</table>
<!-- ###TMAIL_MAIL_USERCOPY_HTML### end -->





<!-- ###TMAIL_THANKS### begin -->
<h2 style="padding-top:10px;">Sporo&#269;ilo uspe&#353;no poslano.</h2>
<p>Odgovorili vam bomo v najkraj&#353;em moznem &#269;asu.</p>
<!-- ###TMAIL_THANKS### end -->



<!-- ###TMAIL_ERROR### begin -->
<h2>Prišlo je do napake</h2>
<p>Prosimo poskusite znova</p>
<!-- ###TMAIL_ERROR### end -->
